<div class="page"></div>
<div class="search-form form-container">
  <mat-expansion-panel [expanded]="true" [disabled]="true" [hideToggle]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        SEN Message Search
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="accountSearchForm" (ngSubmit)="submitAccountSearchForm()" novalidate autocomplete="off">

      <div fxLayout="column"
           fxLayoutAlign="start start"
           fxLayout.gt-xs="row"
           fxLayoutGap.gt-xs="20px"
           fxLayoutAlign.gt-xs="strech start">
        <mat-form-field class="field full-width" fxFlex.gt-xs="50">
          <input matInput
                 [matDatepicker]="picker"
                 placeholder="From Date"
                 formControlName="frm_date"
                 (dateChange)="frmDateChanged($event)"
                 readonly
                 class="non-readonly"
                 (click)="picker.open()"
                 (focus)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="frm_date.invalid">{{getErrorMessage('frm_date')}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field full-width" fxFlex.gt-xs="50">
          <input matInput
                 [min]="accountSearchForm.value.frm_date?accountSearchForm.value.frm_date:null"
                 [matDatepicker]="picker2"
                 placeholder="To Date"
                 formControlName="to_date"
                 (dateChange)="toDateChanged($event)"
                 readonly
                 class="non-readonly"
                 (click)="picker2.open()"
                 (focus)="picker2.open()">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="to_date.invalid">{{getErrorMessage('to_date')}}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SUBMIT</button>
        &nbsp;
        <button type="reset" mat-raised-button color="primary" [disabled]="inProgress" (click)="resetForm()">RESET FORM</button>
      </div>
    </form>
  </mat-expansion-panel>
</div>
