<div class="list" *ngIf="!xmlData">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="list" *ngIf="xmlData">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2>View XML</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="list-wrapper">
    <div class="list-table">
      <textarea readonly>{{xmlData}}</textarea>
    </div>
  </div>
</div>
