<div *ngIf="certCriteriaRepOut" class="form-container">
  <div fxLayout="row"
       fxLayoutAlign="space-between start">
    <h2>Validation Details</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxLayout="column"
       fxLayoutAlign="start start"
       fxLayout.gt-xs="row"
       fxLayoutGap.gt-xs="10px"
       fxLayoutAlign.gt-xs="strech start">

    <div fxFlex="33">
      <div *ngIf="certCriteriaRepOut.participant_id" class="info-line">
        <label class="caption_view">Participant Id</label>
        <div class="info">{{certCriteriaRepOut.participant_id}}</div>
      </div>
      <div *ngIf="template.template_name" class="info-line">
        <label class="caption_view">Test Template Name</label>
        <div class="info">{{template.template_name}}</div>
      </div>
      <div *ngIf="template.testcase_name" class="info-line">
        <label class="caption_view">Test Case Name</label>
        <div class="info">{{template.testcase_name}}</div>
      </div>
    </div>

    <div fxFlex="33">
      <div *ngIf="certCriteriaRepOut.criteria_name" class="info-line">
        <label class="caption_view">Criteria Name</label>
        <div class="info">{{certCriteriaRepOut.criteria_name}}</div>
      </div>
      <div *ngIf="certCriteriaRepOut.certCriteria.criteria_type" class="info-line">
        <label class="caption_view">Criteria Type</label>
        <div class="info">{{certCriteriaRepOut.certCriteria.criteria_type}}</div>
      </div>
      <div *ngIf="template.template_status" class="info-line">
        <label class="caption_view">Template Status</label>
        <div class="info">{{template.template_status}}</div>
      </div>
    </div>

    <div fxFlex="33">
      <div *ngIf="template.status_update_dttm" class="info-line">
        <label class="caption_view">Last Status Update</label>
        <div class="info">{{template.status_update_dttm}}</div>
      </div>

      <div *ngIf="certCriteriaRepDtlOut.instruction_id" class="info-line">
        <label class="caption_view">Instruction Identifier</label>
        <div class="info">{{certCriteriaRepDtlOut.instruction_id}}</div>
      </div>

      <div *ngIf="certCriteriaRepDtlOut.status" class="info-line">
        <label class="caption_view">Instruction Status</label>
        <div class="info">{{certCriteriaRepDtlOut.status}}</div>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="template.testcase_description" class="info-line">
      <label class="caption_view">Test Case Description</label>
      <div class="info">{{template.testcase_description}}</div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div *ngIf="!dataSource">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
        <h1>No Details Available</h1>
      </div>
      <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
        <h2>Loading...</h2>
      </div>
    </div>
  </div>
  <div class="list-wrapper" *ngIf="dataSource">
    <div class="list-table">
      <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="validation_name">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Validation Name</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.validation_name}}">{{element.validation_name}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="source_msg_type">
          <mat-header-cell *matHeaderCellDef>Source Message Type</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            *ngIf="element.msgFldMapping && element.msgFldMapping.source_msg_type"
            matTooltip="{{element.msgFldMapping.source_msg_type}}">{{element.msgFldMapping.source_msg_type}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="source_msg_leg">
          <mat-header-cell *matHeaderCellDef>Source Message Leg</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            *ngIf="element.msgFldMapping && element.msgFldMapping.source_msg_leg"
            matTooltip="{{element.msgFldMapping.source_msg_leg}}">{{element.msgFldMapping.source_msg_leg}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="target_msg_type">
          <mat-header-cell *matHeaderCellDef>Target Message Type</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            *ngIf="element.msgFldMapping && element.msgFldMapping.target_msg_type"
            matTooltip="{{element.msgFldMapping.target_msg_type}}">{{element.msgFldMapping.target_msg_type}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="target_msg_leg">
          <mat-header-cell *matHeaderCellDef>Target Message Leg</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            *ngIf="element.msgFldMapping && element.msgFldMapping.target_msg_leg"
            matTooltip="{{element.msgFldMapping.target_msg_leg}}">{{element.msgFldMapping.target_msg_leg}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="validation_status">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Validation Status</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.validation_status}}">{{element.validation_status}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="reason_code">
          <mat-header-cell *matHeaderCellDef>Reason Code</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element?.reason_code}}">{{element?.reason_code}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <button mat-icon-button (click)="fieldDetails(element)" matTooltip="Field Details">
              <mat-icon>list</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [length]="paginatorOptions.count"
                   [pageSize]="paginatorOptions.pageSize"
                   [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                   [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                   (page)="fetchCertCriteriaRepDtlOutValidation($event)">
    </mat-paginator>
  </div>
</div>

