<div class="page"></div>
<mat-card class="form-container">
  <form [formGroup]="participantRoutingDetailForm" (ngSubmit)="submitParticipantRoutingDetailForm()" novalidate autocomplete="off">
    <div class="field full-width"
         fxLayout="row"
         fxLayoutGap="20px"
         fxLayoutAlign="space-between start">
      <div>
        <mat-slide-toggle formControlName="is_deactive">Is Deactive?</mat-slide-toggle>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Routing Id"
               formControlName="id"
               [readonly]="IS_EDIT">
        <mat-error *ngIf="id.invalid">{{getErrorMessage('id')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.id" position="above"></tooltip>
    </div>
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Select Participant Id"
               aria-label="Select Participant Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoParticipantId"
               formControlName="participant_id">
        <mat-autocomplete #autoParticipantId="matAutocomplete" [displayWith]="participantDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let participant of filteredParticipants | async" [value]="participant">
            <p *ngIf="participant" class="font-size-14 text-truncate">{{participant.id }} -
              {{participant.name }}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="participant_id.invalid">{{getErrorMessage('participant_id')}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="field">
        <input matInput
               [min]="minDate"
               [matDatepicker]="picker"
               placeholder="Effective Date"
               formControlName="effective_date"
               [readonly]="effectiveDateDisabled">
        <mat-datepicker-toggle matSuffix [for]="picker" *ngIf="!effectiveDateDisabled"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="effective_date.invalid">{{getErrorMessage('effective_date')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.effective_date" position="above"></tooltip>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
    </div>
  </form>
</mat-card>
