@mixin component-landing-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .comp-component-list-item {
    color: mat-color($foreground, secondary-text);
  }
}
