@import '../../../styles/constants';

.comp-component-list-category {
  width: 100%;
  //max-width: 1040px;
  margin: 0 auto;
}

.comp-component-list-item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  transition-duration: 500ms;
  transition-property: box-shadow;
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(8);
  }

  &, &:active, &:hover, &:focus {
    text-decoration: none;
  }
}
