<div fxLayout="column" fxLayoutAlign="center" *appIfOnDom [@animate]="{value:'*',params:{delay:'100ms'}}">
  <div class="comp-component-list-category" fxLayout="row wrap" fxLayoutAlign="center" *appIfOnDom
       [@animateStagger]="{value:'50'}">
    <ng-container *ngFor="let component of components">
      <a mat-raised-button *ngIf="component.showInContent" [@animate]="{value:'*',params:{y:'100%'}}" fxFlex="100"
         fxFlex.gt-xs="50"
         fxFlex.gt-sm="33" fxFlex.gt-md="20"
         class="comp-component-list-item"
         [routerLink]="'/'+component.route">
        <h2>{{component.name}}</h2>
      </a>
    </ng-container>
  </div>
</div>
