<div class="page"></div>
<mat-card class="form-container">
  <form [formGroup]="certCriteriaForm" (ngSubmit)="submitCertCriteriaForm()" novalidate autocomplete="off">
    <div class="field full-width"
         fxLayout="row"
         fxLayoutGap="20px"
         fxLayoutAlign="space-between start">
      <div>
        <mat-slide-toggle formControlName="is_deactive">Is Deactive?</mat-slide-toggle>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Criteria Name"
               formControlName="criteria_name"
               [readonly]="IS_EDIT">
        <mat-error *ngIf="criteria_name.invalid">{{getErrorMessage('criteria_name')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <mat-select *ngIf="!IS_EDIT" placeholder="Criteria Type"
                    formControlName="criteria_type"
                    (selectionChange)="onCriteriaChanged($event)">
          <mat-option [value]="'SEND'">SEND</mat-option>
          <mat-option [value]="'RECEIVE'">RECEIVE</mat-option>
        </mat-select>
        <input *ngIf="IS_EDIT" readonly matInput formControlName="criteria_type"/>
        <mat-error *ngIf="criteria_type.invalid">{{getErrorMessage('criteria_type')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               [readonly]="IS_EDIT"
               placeholder="Select Participant Id"
               aria-label="Select Participant Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoParticipant"
               formControlName="participant_id">
        <mat-autocomplete #autoParticipant="matAutocomplete" [displayWith]="participantDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let participant of filteredParticipants | async" [value]="participant">
            <p *ngIf="participant" class="font-size-14 text-truncate">
              {{participant.id }} - {{participant.name }}
            </p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="participant_id.invalid">{{getErrorMessage('participant_id')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <textarea type="text"
                  matInput
                  placeholder="Criteria Description"
                  formControlName="criteria_description">
        </textarea>
        <mat-error *ngIf="criteria_description.invalid">{{getErrorMessage('criteria_description')}}</mat-error>
      </mat-form-field>
    </div>
    <br/>
    <div fxLayout="row" fxLayoutAlign="space-between start"
         *ngIf="certCriteriaForm.value.criteria_type && certCriteriaForm.value.participant_id.id">
      <mat-form-field class="full-width">
        <mat-chip-list #chipList formControlName="template_names_chips">
          <mat-chip *ngFor="let item of displayTemplateNames"
                    [removable]="removable && !inProgress" (removed)="removeTemplateName(item)">
            {{item.template_name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matInput
                 placeholder="Template Name(s)"
                 aria-label="Template Names(s)"
                 type="search"
                 spellcheck="false"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addTemplateName($event)"
                 [matAutocomplete]="autoTemplateName"
                 formControlName="template_names">
          <mat-autocomplete #autoTemplateName="matAutocomplete"
                            [displayWith]="templateNamesDisplayFn"
                            [autoActiveFirstOption]="true"
                            (optionSelected)="addSelectTemplateName($event)">
            <mat-option *ngFor="let testTemplate of filteredTemplateNames | async" [value]="testTemplate">
              <p *ngIf="testTemplate" class="font-size-14 text-truncate">{{testTemplate.template_name }} -
                {{testTemplate.template_type}} - {{testTemplate.testcase.testcase_name}} -
                {{testTemplate.testcase.testcase_description}}</p>
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
        <mat-error *ngIf="template_names_chips.invalid">{{getErrorMessage('template_names_chips')}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start" class="mb-20">
      <mat-checkbox color="primary" formControlName="is_bulk" (change)="isBulkChanged(certCriteriaForm.value.is_bulk)">
        Is Bulk
      </mat-checkbox>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start" *ngIf="certCriteriaForm.value.is_bulk">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Run Duration (seconds)"
               formControlName="duration">
        <mat-error *ngIf="duration.invalid">{{getErrorMessage('duration')}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start" *ngIf="certCriteriaForm.value.is_bulk">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Run Iterations"
               formControlName="iterations">
        <mat-error *ngIf="iterations.invalid">{{getErrorMessage('iterations')}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start" *ngIf="certCriteriaForm.value.is_bulk">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Run Interval (seconds)"
               formControlName="request_interval">
        <mat-error *ngIf="request_interval.invalid">{{getErrorMessage('request_interval')}}</mat-error>
      </mat-form-field>
    </div>

    <br/>
    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
    </div>
  </form>
</mat-card>
