<div class="list" *ngIf="!settlementSnapshot">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div *ngIf="settlementSnapshot" class="form-container">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2>Settlement Snapshot Details</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap.gt-xs="10px"
         fxLayoutAlign.gt-xs="strech start">
      <div fxFlex="20">
        <div *ngIf="settlementSnapshot.creation_tmstmp" class="info-line">
          <label class="caption_view">Snapshot Creation Date/Time</label>
          <div class="info">{{settlementSnapshot.creation_tmstmp}}</div>
        </div>
        <div *ngIf="settlementSnapshot.id" class="info-line">
          <label class="caption_view">Settlement Id</label>
          <div class="info">{{settlementSnapshot.id}}</div>
        </div>
        <div *ngIf="settlementSnapshot.cycle_start_dttm" class="info-line">
          <label class="caption_view">Cycle Start Date/Time</label>
          <div class="info">{{settlementSnapshot.cycle_start_dttm}}</div>
        </div>
        <div *ngIf="settlementSnapshot.cycle_end_dttm" class="info-line">
          <label class="caption_view">Cycle End Date/Time</label>
          <div class="info">{{settlementSnapshot.cycle_end_dttm}}</div>
        </div>
      </div>

      <div fxFlex="20">
        <div *ngIf="settlementSnapshot.account_id" class="info-line">
          <label class="caption_view">Account Id</label>
          <div class="info">{{settlementSnapshot.account_id}}</div>
        </div>
        <div *ngIf="settlementSnapshot.account_type" class="info-line">
          <label class="caption_view">Account Type</label>
          <div class="info">{{settlementSnapshot.account_type}}</div>
        </div>
        <div *ngIf="settlementSnapshot.participant_id" class="info-line">
          <label class="caption_view">Participant Id</label>
          <div class="info">{{settlementSnapshot.participant_id}}</div>
        </div>
        <div *ngIf="settlementSnapshot.tracking_account_id" class="info-line">
          <label class="caption_view">Tracking Account Id</label>
          <div class="info">{{settlementSnapshot.tracking_account_id}}</div>
        </div>
      </div>

      <div fxFlex="20">
        <div *ngIf="settlementSnapshot.initial_cap" class="info-line">
          <label class="caption_view">Initial Cap</label>
          <div class="info">{{settlementSnapshot.initial_cap|currency:' '}}</div>
        </div>
        <div *ngIf="settlementSnapshot.aval_balance" class="info-line">
          <label class="caption_view">Available Balance</label>
          <div class="info">{{settlementSnapshot.aval_balance|currency:' '}}</div>
        </div>
        <div *ngIf="settlementSnapshot.account_position" class="info-line">
          <label class="caption_view">Account Position</label>
          <div class="info">{{settlementSnapshot.account_position|currency:' '}}</div>
        </div>
      </div>

      <div fxFlex="20">
        <div *ngIf="settlementSnapshot.outward_accepted_count" class="info-line">
          <label class="caption_view">Outward Accepted Count</label>
          <div class="info">{{settlementSnapshot.outward_accepted_count}}</div>
        </div>
        <div *ngIf="settlementSnapshot.outward_accepted_value" class="info-line">
          <label class="caption_view">Outward Accepted Value</label>
          <div class="info">{{settlementSnapshot.outward_accepted_value|currency:' '}}</div>
        </div>
        <div *ngIf="settlementSnapshot.outward_rejected_count" class="info-line">
          <label class="caption_view">Outward Rejected Count</label>
          <div class="info">{{settlementSnapshot.outward_rejected_count}}</div>
        </div>
        <div *ngIf="settlementSnapshot.outward_rejected_value" class="info-line">
          <label class="caption_view">Outward Rejected Value</label>
          <div class="info">{{settlementSnapshot.outward_rejected_value|currency:' '}}</div>
        </div>
      </div>

      <div fxFlex="20">
        <div *ngIf="settlementSnapshot.inward_accepted_count" class="info-line">
          <label class="caption_view">Inward Accepted Count</label>
          <div class="info">{{settlementSnapshot.inward_accepted_count}}</div>
        </div>
        <div *ngIf="settlementSnapshot.inward_accepted_value" class="info-line">
          <label class="caption_view">Inward Accepted Value</label>
          <div class="info">{{settlementSnapshot.inward_accepted_value|currency:' '}}</div>
        </div>
        <div *ngIf="settlementSnapshot.inward_rejected_count" class="info-line">
          <label class="caption_view">Inward Rejected Count</label>
          <div class="info">{{settlementSnapshot.inward_rejected_count}}</div>
        </div>
        <div *ngIf="settlementSnapshot.inward_rejected_value" class="info-line">
          <label class="caption_view">Inward Rejected Value</label>
          <div class="info">{{settlementSnapshot.inward_rejected_value|currency:' '}}</div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div fxLayout="column"
       fxLayoutAlign="start start"
       fxLayout.gt-xs="row"
       fxLayoutGap.gt-xs="20px"
       fxLayoutAlign.gt-xs="strech start"
       *ngIf="settlementSnapshot._id">
    <settlement-snapshot-credit-detail-list fxFlex.gt-xs="50"
                                            [id]="settlementSnapshot._id"
                                            [settlementSnapshot]="settlementSnapshot">
    </settlement-snapshot-credit-detail-list>
    <settlement-snapshot-debit-detail-list fxFlex.gt-xs="50"
                                           [id]="settlementSnapshot._id"
                                           [settlementSnapshot]="settlementSnapshot">
    </settlement-snapshot-debit-detail-list>
  </div>


</div>
