<div>
  <h2>{{IS_EDIT ? 'Edit' : 'Add New'}} Timeout Offset</h2>
  <form [formGroup]="participantMsgInfoForm" (ngSubmit)="submitParticipantMsgInfoForm()" novalidate autocomplete="off">
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input
          [readonly]="IS_EDIT"
          matInput
          placeholder="Message Type"
          aria-label="Message Type"
          type="search"
          spellcheck="false"
          [matAutocomplete]="autoFieldName"
          formControlName="msg_type">
        <mat-autocomplete #autoFieldName="matAutocomplete" [displayWith]="msgTypeDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let msgType of filteredMsgType | async" [value]="msgType">
            <p *ngIf="msgType" class="font-size-14 text-truncate">
              {{msgType.msg_type }} - {{msgType.msg_description }}
            </p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="msg_type.invalid">{{getErrorMessage('msg_type')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Timeout Offset"
               formControlName="timeout_offset">
        <mat-error *ngIf="timeout_offset.invalid">{{getErrorMessage('timeout_offset')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
      <button type="button" mat-raised-button [disabled]="inProgress" (click)="onNoClick()">CANCEL</button>
    </div>
  </form>
</div>
