.mat-column-actions {
  max-width: 100px;
}

.mat-column-criteria_name {
  max-width: 150px;
}

.mat-column-participant_id {
  max-width: 165px;
}

.mat-column-criteria_description {
  min-width: 200px;
}

.mat-column-criteria_type {
  max-width: 100px !important;
}

.mat-column-last_update_dttm {
  max-width: 275px;
}

.mat-column-criteria_status {
  max-width: 100px !important;
}
