<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="criteria_name">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Criteria Name" searchKey="criteria_name" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.criteria_name}}">{{element.criteria_name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="criteria_type">
        <mat-header-cell *matHeaderCellDef>Criteria Type</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.certCriteria && element.certCriteria.criteria_type ? element.certCriteria.criteria_type : ''}}">{{element.certCriteria && element.certCriteria.criteria_type ? element.certCriteria.criteria_type : ''}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="criteria_description">
        <mat-header-cell *matHeaderCellDef>Criteria Description</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.certCriteria && element.certCriteria.criteria_description ? element.certCriteria.criteria_description : ''}}">{{element.certCriteria && element.certCriteria.criteria_description ? element.certCriteria.criteria_description : ''}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="criteria_status">
        <mat-header-cell *matHeaderCellDef>Criteria Status</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.criteria_status}}">{{element.criteria_status}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="last_update_dttm">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Status Update</mat-header-cell>
        <mat-cell *matCellDef="let element"><span *ngIf="element.last_update_dttm"
                                                  matTooltip="{{element.last_update_dttm}}">{{element.last_update_dttm}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="participant_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Participant Id" searchKey="participant_id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.participant_id}}">{{element.participant_id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-icon-button [routerLink]="['view/'+element._id]" matTooltip="View">
            <mat-icon>remove_red_eye</mat-icon>
          </a>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchCertCriteriaRepOutListing($event)">
  </mat-paginator>
</mat-card>
