.mat-column-actions {
  max-width: 50px;
}

.mat-column-owner_id,
.mat-column-id,
.mat-column-account_type,
.mat-column-balance,
.mat-column-alertmark,
.mat-column-min_prefund_req_amount,
.mat-column-resetalertmark,
.mat-column-effective_date {
  min-width: 150px;
}
