<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Id" searchKey="id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.id}}">{{element.id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="account_type">
        <mat-header-cell *matHeaderCellDef> Account Type</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.account_type}}">{{element.account_type}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="owner_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Owner ID" searchKey="owner_id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.owner_id}}">{{element.owner_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef> Account Balance</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.balance|currency:' '}}">{{element.balance|currency:' ' }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="min_prefund_req_amount">
        <mat-header-cell *matHeaderCellDef> Minimum Pre-funded Amount</mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.min_prefund_req_amount|currency:' '}}">{{element.min_prefund_req_amount|currency:' '}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="alertmark">
        <mat-header-cell *matHeaderCellDef> Alert Cap (%)</mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.alertmark}}%">{{element.alertmark}}%</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="resetalertmark">
        <mat-header-cell *matHeaderCellDef> Reset Alert Cap (%)</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.resetalertmark}}%">{{element.resetalertmark}}%</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-icon-button [routerLink]="['edit/'+element._id]" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </a>
          <!--<a mat-icon-button>-->
          <!--<mat-icon>delete</mat-icon>-->
          <!--</a>-->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchSettlementAccountListing($event)">
  </mat-paginator>
</mat-card>
