@mixin component-tph-graph-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .noUi-connect {
    background-color: mat-color($primary) !important;
  }
}
