<div class="modal-list" *ngIf="!data">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No data Available</h1>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div *ngIf="data" class="form-container">
  <div class="m-t-10">
    <div fxLayout="row"
         fxLayoutGap="10px"
         fxLayoutAlign="space-between start">
      <div fxFlex="70">
        <label class="caption_view">Date Time range selector</label>
        <nouislider [config]="rangeConfig" [(ngModel)]="range"></nouislider>
      </div>
      <div fxFlex="25">
        <button class="applyBtn" type="button" mat-raised-button color="primary" [disabled]="inProgress"
                (click)="applyFilter()">Apply
        </button>
      </div>
    </div>
    <div *ngIf="range"><code>
      <small>{{formatDate(range[0])}} to {{formatDate(range[1])}}</small>
    </code></div>
  </div>
  <nvd3 [options]="options" [data]="data"></nvd3>
</div>
