@import '~nvd3/build/nv.d3.css';
@import "~nouislider/distribute/nouislider.min.css";

.applyBtn {
  height: 25px !important;
  line-height: 25px !important;
  margin-top: 20px !important;
}

.noUi-horizontal {
  height: 10px;

  .noUi-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px !important;
  }
}

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: none;
  position: absolute;
  height: 0px;
  width: 0px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.m-t-10 {
  margin-top: 10px;
}
