<div class="modal-list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h3>No Summary Available</h3>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="modal-list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="transaction_type">
        <mat-header-cell *matHeaderCellDef>Transaction Type</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.transaction_type}}">{{element.transaction_type}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="msg_type">
        <mat-header-cell *matHeaderCellDef>Initiating Message Type</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.msg_type}}">{{element.msg_type}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="template_name">
        <mat-header-cell *matHeaderCellDef>Template Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.template_name}}">{{element.template_name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="template_description">
        <mat-header-cell *matHeaderCellDef>Template Description</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.template_description}}">{{element.template_description}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weightage">
        <mat-header-cell *matHeaderCellDef>Template Weightage</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.weightage}}">{{element.weightage}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="accept_reject_code">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.accept_reject_code}}">{{element.accept_reject_code}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reason_code">
        <mat-header-cell *matHeaderCellDef>Reason Code</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.reason_code}}">{{element.reason_code}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.count}}">{{element.count}}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchBulkCertCriteriaExecSummaryListing($event)">
  </mat-paginator>
</div>
