.mat-column-actions {
  max-width: 100px;
}

.mat-column-transaction_type {
  min-width: 150px !important;
  max-width: 150px !important;
}

.mat-column-msg_type {
  min-width: 150px !important;
  max-width: 150px !important;
}

.mat-column-template_name {
  min-width: 150px !important;
  max-width: 150px !important;
}

.mat-column-weightage {
  min-width: 150px !important;
  max-width: 150px !important;
}

.mat-column-template_description {
  min-width: 275px !important;
}

.mat-column-accept_reject_code {
  min-width: 100px !important;
  max-width: 100px !important;
}

.mat-column-reason_code {
  min-width: 120px !important;
  max-width: 120px !important;
}

.mat-column-count {
  min-width: 150px !important;
  max-width: 150px !important;
}
