<div class="page"></div>
<mat-card class="form-container">
  <form [formGroup]="connectionOwnerForm" (ngSubmit)="submitConnectionOwnerForm()" novalidate autocomplete="off">
    <div>
      <mat-form-field class="field full-width">
        <input type="text" matInput placeholder="Connection Owner Id" formControlName="id" [readonly]="IS_EDIT">
        <mat-error *ngIf="id.invalid">{{getErrorMessage('id')}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="field full-width">
        <input type="text" matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="name.invalid">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
    </div>
  </form>
</mat-card>
