<div class="page"></div>
<mat-card class="form-container">
  <form [formGroup]="testTemplateForm" (ngSubmit)="submitTestTemplateForm()" novalidate autocomplete="off">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Test Template Name"
               formControlName="template_name"
               [readonly]="IS_EDIT">
        <mat-error *ngIf="template_name.invalid">{{getErrorMessage('template_name')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <mat-select *ngIf="!IS_EDIT" placeholder="Test Template Type" formControlName="template_type">
          <mat-option [value]="'SEND'">SEND</mat-option>
          <mat-option [value]="'RECEIVE'">RECEIVE</mat-option>
        </mat-select>
        <input *ngIf="IS_EDIT" placeholder="Test Template Type" readonly matInput formControlName="template_type"/>
        <mat-error *ngIf="template_type.invalid">{{getErrorMessage('template_type')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               [readonly]="IS_EDIT"
               placeholder="Select Participant Id"
               aria-label="Select Participant Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoParticipant"
               formControlName="participant_id">
        <mat-autocomplete #autoParticipant="matAutocomplete" [displayWith]="participantDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let participant of filteredParticipants | async" [value]="participant">
            <p *ngIf="participant" class="font-size-14 text-truncate">
              {{participant.id }} - {{participant.short_id }} - {{participant.name }}
            </p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="participant_id.invalid">{{getErrorMessage('participant_id')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               [readonly]="IS_EDIT"
               placeholder="Test Case Name"
               aria-label="Test Case Name"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoTestCaseName"
               formControlName="testcase_name">
        <mat-autocomplete #autoTestCaseName="matAutocomplete" [displayWith]="testCaseNameDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let testCaseName of filteredTestCaseNames | async" [value]="testCaseName">
            <p *ngIf="testCaseName" class="font-size-14 text-truncate">
              {{testCaseName.testcase_name }} - {{testCaseName.testcase_description }} -
              {{testCaseName.initiating_msg_type }}
            </p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="testcase_name.invalid">{{getErrorMessage('testcase_name')}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Weightage"
               formControlName="weightage">
        <mat-error *ngIf="weightage.invalid">{{getErrorMessage('weightage')}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Connection Id"
               aria-label="Select Connection Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoConnectionId"
               formControlName="conn_name">
        <mat-autocomplete #autoConnectionId="matAutocomplete" [displayWith]="connectionDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let connection of filteredConnections | async" [value]="connection">
            <p *ngIf="connection" class="font-size-14 text-truncate">{{connection.id }} -
              {{connection.owner_id }}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="conn_name.invalid">{{getErrorMessage('conn_name')}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
    </div>
  </form>
</mat-card>
