<div class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="list" *ngIf="dataSource">
  <div class="addField" fxLayoutAlign="end">
    <button color="primary" mat-mini-fab (click)="addDetail()" matTooltip="Add more field">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="list-wrapper">
    <div class="list-table">
      <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="field_name">
          <mat-header-cell *matHeaderCellDef>
            <search headerName="Field Name" searchKey="field_name" (search)="applyFilter($event)"></search>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><span matTooltip="{{element.field_name}}">{{element.field_name}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="field_description">
          <mat-header-cell *matHeaderCellDef>Field Description</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.field_description}}">{{element.field_description}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="field_value">
          <mat-header-cell *matHeaderCellDef>Field Value</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.field_value}}">{{element.field_value}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <button *ngIf="element.field_name!=='EndToEndId'" mat-icon-button (click)="editDetail(element)"
                    matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="element.field_name!=='EndToEndId'" mat-icon-button (click)="deleteDetail(element._id)"
                    matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [length]="paginatorOptions.count"
                   [pageSize]="paginatorOptions.pageSize"
                   [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                   [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                   (page)="fetchTestTemplateFieldsListing($event)">
    </mat-paginator>
  </div>
</div>
