<div class="page"></div>
<mat-card class="list" *ngIf="!testTemplate">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card *ngIf="testTemplate" class="form-container">
  <div class="header">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap.gt-xs="10px"
         fxLayoutAlign.gt-xs="strech start">
      <div fxFlex="33">
        <div *ngIf="testTemplate.template_name" class="info-line">
          <label class="caption_view">Test Template Name</label>
          <div class="info">{{testTemplate.template_name}}</div>
        </div>
        <div *ngIf="testTemplate.template_type" class="info-line">
          <label class="caption_view">Test Template Type</label>
          <div class="info">{{testTemplate.template_type}}</div>
        </div>
        <div *ngIf="testTemplate.initiating_msg_type" class="info-line" fxLayout="row"
             fxLayoutAlign="start start">
          <div>
            <label class="caption_view">Initiating Message Type</label>
            <div class="info">{{testTemplate.initiating_msg_type}}</div>
          </div>
          <tooltip [text]="helpText?.initiating_msg_type" position="above"></tooltip>
        </div>
      </div>

      <div fxFlex="33">
        <div *ngIf="testTemplate.participant_id" class="info-line">
          <label class="caption_view">Participant Id</label>
          <div class="info">{{testTemplate.participant_id}}</div>
        </div>
        <div *ngIf="testTemplate.participant.short_id" class="info-line" fxLayout="row"
             fxLayoutAlign="start start">
          <div>
            <label class="caption_view">Short Participant Id</label>
            <div class="info">{{testTemplate.participant.short_id}}</div>
          </div>
          <tooltip [text]="helpText?.short_id" position="above"></tooltip>
        </div>
        <div *ngIf="testTemplate.participant.name" class="info-line">
          <label class="caption_view">Participant Name</label>
          <div class="info">{{testTemplate.participant.name}}</div>
        </div>
      </div>

      <div fxFlex="33">
        <div *ngIf="testTemplate.weightage" class="info-line">
          <label class="caption_view">Weightage</label>
          <div class="info">{{testTemplate.weightage}}</div>
        </div>
        <div *ngIf="testTemplate.conn_name" class="info-line">
          <label class="caption_view">Connection Id</label>
          <div class="info">{{testTemplate.conn_name}}</div>
        </div>
      </div>
    </div>

    <div>
      <div *ngIf="testTemplate.testcase_name" class="info-line">
        <label class="caption_view">Test Case Name</label>
        <div class="info">{{testTemplate.testcase_name}}</div>
      </div>
      <div *ngIf="testTemplate.testcase.testcase_description" class="info-line">
        <label class="caption_view">Test Case Description</label>
        <div class="info">{{testTemplate.testcase.testcase_description}}</div>
      </div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div *ngIf="testTemplateId">
    <test-template-detail-list [id]="testTemplateId"
                               [msgType]="testTemplate.initiating_msg_type">
    </test-template-detail-list>
  </div>

</mat-card>
