<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <p>{{text}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>{{cancelButtonText}}</button>
  <button mat-raised-button color="accent" (click)="confirm()">{{okButtonText}}</button>
</mat-dialog-actions>
