<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/view-sen-message'">Go back to SEN Message Search Form</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="viewXmlMessage(element)"
                  matTooltip="View XML Message">
            <mat-icon>code</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="event_code">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Event Code" searchKey="event_code" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.event_code}}">{{element.event_code}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="event_tmstmp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Event Date/Time</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.event_tmstmp}}">{{element.event_tmstmp}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="event_description">
        <mat-header-cell *matHeaderCellDef>Event Description</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.event_description}}">{{element.event_description}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receiver_participant_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Participant Id" searchKey="receiver_participant_id"
                  (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.receiver_participant_id}}">{{element.receiver_participant_id}}</span>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchClhSenMsg($event)">
  </mat-paginator>
</mat-card>
