.list {
  width: 100%;
}

.mat-column-actions {
  max-width: 80px;
}

.mat-column-event_code {
  max-width: 150px;
}

.mat-column-receiver_participant_id {
  max-width: 175px;
}

.mat-column-event_description {
  min-width: 300px;
}

.mat-column-event_tmstmp {
  max-width: 275px;
}
