<div *ngIf="transaction" class="form-container">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2>Transactions</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap.gt-xs="10px"
         fxLayoutAlign.gt-xs="strech start">
      <div fxFlex="50">
        <div *ngIf="transaction.participant_id" class="info-line">
          <label class="caption_view">Participant Id</label>
          <div class="info">{{transaction.participant_id}}</div>
        </div>
        <div *ngIf="transaction.template_name" class="info-line">
          <label class="caption_view">Test Template Name</label>
          <div class="info">{{transaction.template_name}}</div>
        </div>
        <div *ngIf="transaction.testcase_name" class="info-line">
          <label class="caption_view">Test Case Name</label>
          <div class="info">{{transaction.testcase_name}}</div>
        </div>
        <div *ngIf="transaction.template_status" class="info-line">
          <label class="caption_view">Template Status</label>
          <div class="info">{{transaction.template_status}}</div>
        </div>
        <div *ngIf="transaction.instruction_id" class="info-line">
          <label class="caption_view">Instruction Identifier</label>
          <div class="info">{{transaction.instruction_id}}</div>
        </div>
        <div *ngIf="transaction.status" class="info-line">
          <label class="caption_view">Run Status</label>
          <div class="info">{{transaction.status}}</div>
        </div>
      </div>

      <div fxFlex="50">
        <div *ngIf="transaction.criteria_name" class="info-line">
          <label class="caption_view">Criteria Name</label>
          <div class="info">{{transaction.criteria_name}}</div>
        </div>
        <div *ngIf="transaction.certCriteria.criteria_type" class="info-line">
          <label class="caption_view">Criteria Type</label>
          <div class="info">{{transaction.certCriteria.criteria_type}}</div>
        </div>
        <div *ngIf="transaction.testcase_description" class="info-line">
          <label class="caption_view">Test Case Description</label>
          <div class="info">{{transaction.testcase_description}}</div>
        </div>
        <div *ngIf="transaction.status_update_dttm" class="info-line">
          <label class="caption_view">Last Status Update</label>
          <div class="info">{{transaction.status_update_dttm}}</div>
        </div>
        <div *ngIf="transaction.initiating_msg_type" class="info-line">
          <label class="caption_view">Message Type</label>
          <div class="info">{{transaction.initiating_msg_type}}</div>
        </div>
        <div *ngIf="transaction.msg_rcvd_dttm" class="info-line">
          <label class="caption_view">Message Received</label>
          <div class="info">{{transaction.msg_rcvd_dttm}}</div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div fxLayout="column"
       fxLayoutAlign="start start"
       fxLayout.gt-xs="row"
       fxLayoutGap.gt-xs="20px"
       fxLayoutAlign.gt-xs="strech start">
    <div class="list-wrapper" *ngIf="dataSource">
      <div class="list-table">
        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button *ngIf="hasPermissionToViewTransactions" mat-icon-button (click)="viewTransactionDetails(element)"
                      matTooltip="View Transaction Details">
                <mat-icon>list</mat-icon>
              </button>
              <button *ngIf="hasPermissionToViewMessageLegs" mat-icon-button (click)="viewMessageLegDetail(element)"
                      matTooltip="View Message Legs">
                <mat-icon>airline_seat_legroom_extra</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Instruction Identifier</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.id}}">{{element.id}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="transaction_type">
            <mat-header-cell *matHeaderCellDef>Transaction Type</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.transaction_type}}">{{element.transaction_type}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="creation_tmstmp">
            <mat-header-cell *matHeaderCellDef>Transaction Creation Date/Time</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.creation_tmstmp}}">{{element.creation_tmstmp}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="creditor_participant_id">
            <mat-header-cell *matHeaderCellDef>Creditor Participant Id</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.creditor_participant_id}}">{{element.creditor_participant_id}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="debtor_participant_id">
            <mat-header-cell *matHeaderCellDef>Debtor Participant Id</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.debtor_participant_id}}">{{element.debtor_participant_id}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="sender_participant_id">
            <mat-header-cell *matHeaderCellDef>Sender Id</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.sender_participant_id}}">{{element.sender_participant_id}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="receiver_participant_id">
            <mat-header-cell *matHeaderCellDef>Recipient Id</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.receiver_participant_id}}">{{element.receiver_participant_id}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="creditor_routing_id">
            <mat-header-cell *matHeaderCellDef>Creditor Sortcode/Routing Number</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.creditor_routing_id}}">{{element.creditor_routing_id}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="creditor_account_id">
            <mat-header-cell *matHeaderCellDef>Creditor Account Number</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.creditor_account_id}}">{{element.creditor_account_id}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="debtor_routing_id">
            <mat-header-cell *matHeaderCellDef>Debtor Sortcode/Routing Number</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.debtor_routing_id}}">{{element.debtor_routing_id}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="debtor_account_id">
            <mat-header-cell *matHeaderCellDef>Debtor Account Number</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.debtor_account_id}}">{{element.debtor_account_id}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.amount}}">{{element.amount}}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="accept_reject_code">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.accept_reject_code}}">{{element.accept_reject_code}}</span></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <mat-paginator #paginator
                     [length]="paginatorOptions.count"
                     [pageSize]="paginatorOptions.pageSize"
                     [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                     [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                     (page)="fetchPaymentTransaction($event)">
      </mat-paginator>
    </div>
  </div>
</div>



