.list {
  width: 100%;
}

.mat-column-actions {
  max-width: 75px;
}

.mat-column-id {
  min-width: 350px;
}

.mat-column-message_identifier {
  min-width: 200px;
}

.mat-column-transaction_type {
  min-width: 75px;
}

.mat-column-creditor_participant_id {
  min-width: 125px;
}

.mat-column-debtor_participant_id {
  min-width: 125px;
}

.mat-column-sender_participant_id {
  min-width: 125px;
}

.mat-column-receiver_participant_id {
  min-width: 125px;
}

.mat-column-creditor_routing_id {
  min-width: 200px;
}

.mat-column-creditor_account_id {
  min-width: 150px;
}

.mat-column-debtor_routing_id {
  min-width: 200px;
}

.mat-column-debtor_account_id {
  min-width: 150px;
}

.mat-column-amount {
  min-width: 50px;
}

.mat-column-accept_reject_code {
  min-width: 100px;
}

.mat-column-creation_tmstmp {
  min-width: 275px;
}

.mat-column-leg_xml_data {
  min-width: 200px;
  max-width: 200px;
}
