@mixin ss-search-form-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .search-form {
    mat-panel-title, mat-panel-description {
      color: mat-color($foreground, text) !important;
    }
  }
}
