<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/view-settlement-snapshot'">Go back to Payment
        Settlement Snapshot Search Form</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="viewTransactionDetail(element)"
                  matTooltip="View Details">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creation_tmstmp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Snapshot Creation Date/Time</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.creation_tmstmp}}">{{element.creation_tmstmp}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Settlement Id" searchKey="id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.id}}">{{element.id}}</span>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="cycle_start_dttm">
        <mat-header-cell *matHeaderCellDef>Cycle Start Date/Time</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.cycle_start_dttm}}">{{element.cycle_start_dttm}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="account_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Account Id" searchKey="account_id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.account_id}}">{{element.account_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="account_type">
        <mat-header-cell *matHeaderCellDef>Account Type</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.account_type}}">{{element.account_type}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="tracking_account_id">
        <mat-header-cell *matHeaderCellDef>Tracking Account Id</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.tracking_account_id}}">{{element.tracking_account_id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="participant_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Participant Id" searchKey="participant_id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.participant_id}}">{{element.participant_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="initial_cap">
        <mat-header-cell *matHeaderCellDef>Initial Cap</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.initial_cap|currency:' '}}">{{element.initial_cap|currency:' '}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="aval_balance">
        <mat-header-cell *matHeaderCellDef>Available Balance</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.aval_balance|currency:' '}}">{{element.aval_balance|currency:' '}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="account_position">
        <mat-header-cell *matHeaderCellDef>Account Position</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.account_position|currency:' '}}">{{element.account_position|currency:' '}}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchSettlementSnapshot($event)">
  </mat-paginator>
</mat-card>
