.list {
  width: 100%;
}

.mat-column-actions {
  max-width: 100px;
}

.mat-column-id {
  min-width: 170px !important;
  max-width: 170px !important;
}

.mat-column-cycle_start_dttm {
  min-width: 275px !important;
  max-width: 275px !important;
}

.mat-column-participant_id {
  min-width: 163px;
  max-width: 163px;
}

.mat-column-account_id {
  min-width: 150px !important;
  max-width: 150px !important;
}

.mat-column-account_type {
  min-width: 120px !important;
  max-width: 120px !important;
}

.mat-column-tracking_account_id {
  min-width: 150px !important;
  max-width: 150px !important;
}

.mat-column-initial_cap {
  min-width: 150px;
}

.mat-column-aval_balance {
  min-width: 150px;
}

.mat-column-account_position {
  min-width: 150px;
}

.mat-column-creation_tmstmp {
  min-width: 275px !important;
  max-width: 275px !important;
}
