.mat-column-actions {
  max-width: 100px;
}

.mat-column-criteria_name {
  max-width: 200px;
}

.mat-column-criteria_type {
  max-width: 100px;
}

.mat-column-participant_id {
  max-width: 200px;
}

.mat-column-criteria_description {
  min-width: 300px;
}

.mat-column-template_names {
  max-width: 200px;
}

.mat-column-is_deactive {
  max-width: 75px;
}

.other_templates {
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-right: 30px;
}
