@mixin component-certification-criteria-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .other_templates {
    background-color: mat-color($primary, 500);
    color: #FFFFFF;
  }
}
