<div class="page"></div>
<mat-card class="form-container">
  <form [formGroup]="settlementAccountForm" (ngSubmit)="submitSettlementAccountForm()" novalidate autocomplete="off">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <mat-select placeholder="Account Type" formControlName="account_type">
          <mat-option [value]="'Individual'">Individual</mat-option>
          <mat-option [value]="'FundingAgent'">FundingAgent</mat-option>
          <mat-option [value]="'Tracking'">Tracking</mat-option>
        </mat-select>
        <mat-error *ngIf="account_type.invalid">{{getErrorMessage('account_type')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Settlement Account Id"
               formControlName="id"
               [readonly]="IS_EDIT">
        <mat-error *ngIf="id.invalid">{{getErrorMessage('id')}}</mat-error>
      </mat-form-field>
    </div>
    <div
      *ngIf="settlementAccountForm.value.account_type || (inProgress && settlementAccount.account_type)"
      class="field full-width"
      fxLayout="row"
      fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Select Owner Id"
               aria-label="Select Owner Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoOwnerId"
               formControlName="owner_id">
        <mat-autocomplete #autoOwnerId="matAutocomplete" [displayWith]="settlementAccountOwnerDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let settlementAccountOwner of filteredSettlementAccountOwners | async"
                      [value]="settlementAccountOwner">
            <p *ngIf="settlementAccountOwner" class="font-size-14 text-truncate">{{settlementAccountOwner.id }} -
              {{settlementAccountOwner.name }}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="owner_id.invalid">{{getErrorMessage('owner_id')}}</mat-error>
      </mat-form-field>
    </div>
    <div
      *ngIf="(settlementAccountForm.value.account_type && (settlementAccountForm.value.account_type==='FundingAgent' || settlementAccountForm.value.account_type==='Tracking'))
       || (inProgress && settlementAccount.account_type && (settlementAccount.account_type==='FundingAgent' || settlementAccount.account_type==='Tracking'))"
      fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Max Total Transactions Limit"
               formControlName="max_transaction_limit" currency=" ">
        <mat-error *ngIf="max_transaction_limit.invalid">{{getErrorMessage('max_transaction_limit')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Account Balance"
               formControlName="balance" currency=" ">
        <mat-error *ngIf="balance.invalid">{{getErrorMessage('balance')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Minimum Pre-funded Amount"
               formControlName="min_prefund_req_amount">
        <mat-error *ngIf="min_prefund_req_amount.invalid">{{getErrorMessage('min_prefund_req_amount')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               min="0"
               max="100"
               matInput
               placeholder="Alert Cap (%)"
               formControlName="alertmark">
        <mat-error *ngIf="alertmark.invalid">{{getErrorMessage('alertmark')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.alertmark"></tooltip>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               min="0"
               max="100"
               matInput
               placeholder="Reset Alert Cap (%)"
               formControlName="resetalertmark">
        <mat-error *ngIf="resetalertmark.invalid">{{getErrorMessage('resetalertmark')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.resetalertmark"></tooltip>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
    </div>
  </form>
</mat-card>
