.list {
  width: 100%;
}

.mat-column-actions {
  max-width: 50px;
}

.mat-column-template_name {
  min-width: 175px;
}

.mat-column-template_type {
  min-width: 120px;
}

.mat-column-testcase_description {
  min-width: 200px;
}

.mat-column-initiating_msg_type {
  min-width: 150px;
}

.mat-column-weightage {
  min-width: 100px;
}

.mat-column-conn_name {
  min-width: 100px;
}

.addField {
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}
