<div class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="template_name">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Test Template Name" searchKey="template_name" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.template_name}}">{{element.template_name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="template_type">
        <mat-header-cell *matHeaderCellDef>Test Template Type</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.template_type}}">{{element.template_type}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="testcase_name">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Test Case Name" searchKey="testcase_name" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.testcase_name}}">{{element.testcase_name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="testcase_description">
        <mat-header-cell *matHeaderCellDef>Test Case Description</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.testcase_description}}">{{element.testcase_description}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="initiating_msg_type">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Initiating Message Type" searchKey="initiating_msg_type"
                  (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.initiating_msg_type}}">{{element.initiating_msg_type}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weightage">
        <mat-header-cell *matHeaderCellDef>Weightage</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.weightage}}">{{element.weightage}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="conn_name">
        <mat-header-cell *matHeaderCellDef>Connection Id</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.conn_name}}">{{element.conn_name}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element;">
          <button mat-icon-button (click)="showFieldMappings(element._id)" matTooltip="Fields Mapping">
            <mat-icon>my_location</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchCertCriteriaTestTemplatesListing($event)">
  </mat-paginator>
</div>
