<div class="list" *ngIf="!paymentTransaction">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div *ngIf="paymentTransaction" class="form-container">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2>Transaction Details</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap.gt-xs="10px"
         fxLayoutAlign.gt-xs="strech start">
      <div fxFlex="50">
        <div *ngIf="paymentTransaction.id" class="info-line">
          <label class="caption_view">Instruction Identifier</label>
          <div class="info">{{paymentTransaction.id}}</div>
        </div>
        <div *ngIf="paymentTransaction.transaction_type" class="info-line">
          <label class="caption_view">Transaction Type</label>
          <div class="info">{{paymentTransaction.transaction_type}}</div>
        </div>
        <div *ngIf="paymentTransaction.creation_tmstmp" class="info-line">
          <label class="caption_view">Transaction Creation Date/Time</label>
          <div class="info">{{paymentTransaction.creation_tmstmp}}</div>
        </div>
        <div *ngIf="paymentTransaction.creditor_participant_id" class="info-line">
          <label class="caption_view">Creditor Participant Id</label>
          <div class="info">{{paymentTransaction.creditor_participant_id}}</div>
        </div>
        <div *ngIf="paymentTransaction.debtor_participant_id" class="info-line">
          <label class="caption_view">Debtor Participant Id</label>
          <div class="info">{{paymentTransaction.debtor_participant_id}}</div>
        </div>
        <div *ngIf="paymentTransaction.sender_participant_id" class="info-line">
          <label class="caption_view">Sender Id</label>
          <div class="info">{{paymentTransaction.sender_participant_id}}</div>
        </div>
        <div *ngIf="paymentTransaction.receiver_participant_id" class="info-line">
          <label class="caption_view">Recipient Id</label>
          <div class="info">{{paymentTransaction.receiver_participant_id}}</div>
        </div>
        <div *ngIf="paymentTransaction.creditor_routing_id" class="info-line">
          <label class="caption_view">Creditor Sortcode/Routing Number</label>
          <div class="info">{{paymentTransaction.creditor_routing_id}}</div>
        </div>
        <div *ngIf="paymentTransaction.creditor_account_id" class="info-line">
          <label class="caption_view">Creditor Account Number</label>
          <div class="info">{{paymentTransaction.creditor_account_id}}</div>
        </div>
        <div *ngIf="paymentTransaction.debtor_routing_id" class="info-line">
          <label class="caption_view">Debtor Sortcode/Routing Number</label>
          <div class="info">{{paymentTransaction.debtor_routing_id}}</div>
        </div>
      </div>

      <div fxFlex="50">
        <div *ngIf="paymentTransaction.debtor_account_id" class="info-line">
          <label class="caption_view">Debtor Account Number</label>
          <div class="info">{{paymentTransaction.debtor_account_id}}</div>
        </div>
        <div *ngIf="paymentTransaction.amount" class="info-line">
          <label class="caption_view">Amount</label>
          <div class="info">{{paymentTransaction.amount|currency:' '}}</div>
        </div>
        <div *ngIf="paymentTransaction.amount_currency" class="info-line">
          <label class="caption_view">Currency</label>
          <div class="info">{{paymentTransaction.amount_currency}}</div>
        </div>
        <div *ngIf="paymentTransaction.accept_reject_code" class="info-line">
          <label class="caption_view">Status</label>
          <div class="info">{{paymentTransaction.accept_reject_code}}</div>
        </div>
        <div *ngIf="paymentTransaction.reason_code" class="info-line">
          <label class="caption_view">Reason Code</label>
          <div class="info">{{paymentTransaction.reason_code}}</div>
        </div>
        <div *ngIf="paymentTransaction.end_to_end_reference" class="info-line">
          <label class="caption_view">end_to_end_reference</label>
          <div class="info">{{paymentTransaction.end_to_end_reference}}</div>
        </div>
        <div *ngIf="paymentTransaction.transaction_id" class="info-line">
          <label class="caption_view">transaction_id</label>
          <div class="info">{{paymentTransaction.transaction_id}}</div>
        </div>
        <div *ngIf="paymentTransaction.original_amount" class="info-line">
          <label class="caption_view">original_amount</label>
          <div class="info">{{paymentTransaction.original_amount}}</div>
        </div>
        <div *ngIf="paymentTransaction.original_currency" class="info-line">
          <label class="caption_view">original_currency</label>
          <div class="info">{{paymentTransaction.original_currency}}</div>
        </div>
        <div *ngIf="paymentTransaction.exchange_rate" class="info-line">
          <label class="caption_view">exchange_rate</label>
          <div class="info">{{paymentTransaction.exchange_rate}}</div>
        </div>
        <div *ngIf="paymentTransaction.settlement_cycle_id" class="info-line">
          <label class="caption_view">settlement_cycle_id</label>
          <div class="info">{{paymentTransaction.settlement_cycle_id}}</div>
        </div>
        <div *ngIf="paymentTransaction.org_payment_id" class="info-line">
          <label class="caption_view">Original Payment Identifier</label>
          <div class="info">{{paymentTransaction.org_payment_id}}</div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div *ngIf="hasPermissionToViewMessageLegs" class="viewField" fxLayoutAlign="end">
    <button color="primary" mat-fab (click)="viewMessageLegDetail()" matTooltip="View Message Legs">
      <mat-icon>airline_seat_legroom_extra</mat-icon>
    </button>
  </div>
</div>
