@import '../../../../../styles/constants';

:host {
  min-height: 100%;
  width: 100%;

  #error-500 {
    width: 100%;
    overflow: auto;
    height: 100%;

    .form-content {
      box-sizing: content-box;
      padding: 20px;
      background: rgba(255, 255, 255, 0.7);
      width: 360px;
      @media (max-width: $small-breakpoint-width) {
        width: 80% !important;
      }

      form {
        width: 100%;
      }

      .input-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 10px;
        input {
          width: 100%;
        }
      }

      .button-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 20px;
      }
    }

    .content {
      width: 90%;
      max-width: 512px !important;

      .message {
        font-size: 24px;
        text-align: center;
      }

      .sub-message {
        font-size: 17px;
        text-align: center;
        margin: 16px auto 48px auto;
      }

      .report-link {
        text-align: center;
        font-size: 15px;
      }
    }
  }
}
