<div class="list" *ngIf="!data">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="list" *ngIf="data">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2>Response</h2>
  </div>
  <div class="list-wrapper">
    <div class="list-table">
      <textarea readonly>{{data|json}}</textarea>
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="okay()"> OKAY</button>
  </div>
</div>
