@import '../../../../../node_modules/@angular/material/theming';
@import '../../../../styles/constants';

@mixin component-viewer-sidenav-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $nav-background-opacity: if($is-dark-theme, 0.2, 0.03);

  .comp-component-viewer-nav-content {
    background: rgba(0, 0, 0, $nav-background-opacity);

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .26);
    }

    button {
      color: rgba(mat-color($foreground, text), .5);
      &:hover {
        color: mat-color($primary);
      }
    }

    hr {
      border: none;
      border-top: solid 1px rgba(mat-color($foreground, secondary-text), .1)
    }

    a {
      color: mat-color($foreground, secondary-text);

      &.comp-component-viewer-sidenav-item-selected,
      &:hover {
        color: mat-color($primary);
      }
      .single {
        color: rgba(mat-color($foreground, text), .5);
      }
    }
  }

  @media (max-width: $small-breakpoint-width) {
    .comp-component-viewer-sidenav {
      .comp-component-viewer-nav-content {
        background: none;
      }
    }

    .mat-drawer {
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, .26);
      }
    }
  }
}
