<div class="comp-component-viewer-nav">
  <div class="comp-component-viewer-nav-content">
    <nav *ngFor="let category of navItems.getAllCategories(); let last = last;">
      <button *ngIf="category.items.length" (click)="toggleExpand(category.id)"
              [attr.aria-label]="category.name + ', section toggle'"
              [attr.aria-controls]="'panel-' + category.id"
              [attr.aria-expanded]="getExpanded(category.id)">
        {{category.name}}
        <mat-icon *ngIf="!getExpanded(category.id) && category.items.length">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="getExpanded(category.id) && category.items.length">keyboard_arrow_up</mat-icon>
      </button>
      <a class="single" *ngIf="!category.items.length && category.showInSidenav" [routerLink]="'/' + category.route"
         routerLinkActive="comp-component-viewer-sidenav-item-selected">
        {{category.name}}
      </a>
      <ul [@bodyExpansion]="_getExpandedState(category.id)" id="panel-{{category.id}}">
        <ng-container *ngFor="let component of category.items">
          <li *ngIf="component.showInSidenav">
            <a [routerLink]="'/' + component.route"
               routerLinkActive="comp-component-viewer-sidenav-item-selected">
              {{component.name}}
            </a>
          </li>
        </ng-container>
      </ul>
      <hr *ngIf="!last"/>
    </nav>
  </div>
</div>
