<mat-sidenav-container class="comp-component-viewer-sidenav-container">
  <!-- If on small screen, menu resides in drawer -->
  <mat-sidenav #sidenav class="comp-component-viewer-sidenav"
               [opened]="(isScreenSmall | async)?false:shouldKeepSideNavOpen"
               [mode]="(isScreenSmall | async) ? 'over' : 'side'"
               [fixedInViewport]="(isScreenSmall | async)"
               fixedTopGap="52">
    <div fxLayoutAlign="center center" class="brandlogo">
      <img src="../../../../assets/images/logo.png" width="128"/>
    </div>
    <app-nav [params]="params"></app-nav>
  </mat-sidenav>
  <div
    [ngClass]="{'comp-app-background comp-component-sidenav-content':shouldKeepSideNavOpen,'image-app-background full-width-height-content':!shouldKeepSideNavOpen}">
    <app-page-header *ngIf="!hideHeader"></app-page-header>
    <router-outlet></router-outlet>
    <app-page-footer *ngIf="!shouldKeepSideNavOpen"></app-page-footer>
  </div>
</mat-sidenav-container>
