@import '../../../../styles/constants';

app-sidenav {
  display: flex;
  flex-direction: column;
}

app-page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.comp-component-viewer-sidenav-container {
  flex: 1;
  height: 100%;
}

.comp-component-viewer-sidenav {
  overflow: auto;
  box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
}

.mat-drawer {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
}

.comp-component-viewer-nav {
  position: sticky;
  top: 25px;

  .comp-component-viewer-nav-content {
    width: $sidenav-width;
    max-height: 75vh;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    button {
      padding: 10px 15px;
      font-weight: 700;
      line-height: 19px;
      margin: 0;
      font-size: 16px;
      cursor: pointer;
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }

      .mat-icon {
        position: absolute;
        right: 5px;
        font-size: 18px;
      }
    }

    .single {
      padding: 10px 15px;
      font-weight: 700;
      line-height: 19px;
      margin: 0;
      font-size: 16px;
      cursor: pointer;
      position: relative;
      display: block;
      text-align: left;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }

      mat-icon {
        font-size: 18px;
      }
    }

    hr {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style-type: none;
      margin: -5px 0 5px 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      font-size: 16px;
      line-height: 17px;
      margin: 0;
      padding: 10px 15px 10px 20px;
    }

    a {
      display: block;
      text-decoration: none;
    }
  }
}

.comp-component-sidenav-content {
  //padding: 20px 20px 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.full-width-height-content {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (max-width: $small-breakpoint-width) {
  // Add specific rule to prevent default rule conflict
  .comp-component-viewer-sidenav-container .comp-component-viewer-sidenav {
    // position right above the content
    z-index: 4;
  }

  .comp-component-viewer-nav {
    position: relative;
    top: 20px;

    .comp-component-viewer-nav-content {
      margin: 0;
      max-height: initial;
    }
  }
  .comp-component-viewer-sidenav-container {
    flex: 1 0 auto;
  }
}

.brandlogo {
  height: 100px;
}
