<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Id" searchKey="id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.id}}">{{element.id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="participant_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Participant Id" searchKey="participant_id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.participant_id}}">{{element.participant_id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="effective_date">
        <mat-header-cell *matHeaderCellDef> Effective Date</mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.effective_date|date}}">{{element.effective_date|date}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_deactive">
        <mat-header-cell *matHeaderCellDef> Is Deactive</mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.is_deactive}}">{{element.is_deactive}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-icon-button [routerLink]="['edit/'+element._id]" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </a>
          <!--<a mat-icon-button>-->
          <!--<mat-icon>delete</mat-icon>-->
          <!--</a>-->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchParticipantRoutingDetailListing($event)">
  </mat-paginator>
</mat-card>
