.mat-column-actions {
  max-width: 75px;
}

.mat-column-validation_name {
  min-width: 150px;
}

.mat-column-source_msg_type {
  min-width: 150px;
}

.mat-column-source_msg_leg {
  min-width: 150px;
}

.mat-column-target_msg_type {
  min-width: 150px;
}

.mat-column-target_msg_leg {
  min-width: 150px;
}

.mat-column-validation_status {
  min-width: 150px;
}

.mat-column-reason_code {
  min-width: 150px;
}

.mat-column-match_required {
  min-width: 150px;
}
