<div *ngIf="certCriteriaRepOut" class="form-container">
  <div fxLayout="row"
       fxLayoutAlign="space-between start">
    <h2>Field Details</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxLayout="column"
       fxLayoutAlign="start start"
       fxLayout.gt-xs="row"
       fxLayoutGap.gt-xs="10px"
       fxLayoutAlign.gt-xs="strech start">

    <div fxFlex="25">
      <div *ngIf="certCriteriaRepOut.participant_id" class="info-line">
        <label class="caption_view">Participant Id</label>
        <div class="info">{{certCriteriaRepOut.participant_id}}</div>
      </div>
      <div *ngIf="template.template_name" class="info-line">
        <label class="caption_view">Test Template Name</label>
        <div class="info">{{template.template_name}}</div>
      </div>
      <div *ngIf="template.testcase_name" class="info-line">
        <label class="caption_view">Test Case Name</label>
        <div class="info">{{template.testcase_name}}</div>
      </div>
      <div *ngIf="validation.validation_name" class="info-line">
        <label class="caption_view">Validation Name</label>
        <div class="info">{{validation.validation_name}}</div>
      </div>
    </div>

    <div fxFlex="25">
      <div *ngIf="certCriteriaRepOut.criteria_name" class="info-line">
        <label class="caption_view">Criteria Name</label>
        <div class="info">{{certCriteriaRepOut.criteria_name}}</div>
      </div>
      <div *ngIf="certCriteriaRepOut.certCriteria.criteria_type" class="info-line">
        <label class="caption_view">Criteria Type</label>
        <div class="info">{{certCriteriaRepOut.certCriteria.criteria_type}}</div>
      </div>
      <div *ngIf="template.template_status" class="info-line">
        <label class="caption_view">Template Status</label>
        <div class="info">{{template.template_status}}</div>
      </div>
      <div *ngIf="validation.validation_status" class="info-line">
        <label class="caption_view">Validation Status</label>
        <div class="info">{{validation.validation_status}}</div>
      </div>
    </div>

    <div fxFlex="25">
      <div *ngIf="template.status_update_dttm" class="info-line">
        <label class="caption_view">Last Status Update</label>
        <div class="info">{{template.status_update_dttm}}</div>
      </div>

      <div *ngIf="certCriteriaRepDtlOut.instruction_id" class="info-line">
        <label class="caption_view">Instruction Identifier</label>
        <div class="info">{{certCriteriaRepDtlOut.instruction_id}}</div>
      </div>

      <div *ngIf="certCriteriaRepDtlOut.status" class="info-line">
        <label class="caption_view">Instruction Status</label>
        <div class="info">{{certCriteriaRepDtlOut.status}}</div>
      </div>
    </div>

    <div fxFlex="25">
      <div *ngIf="validation.msgFldMapping && validation.msgFldMapping.source_msg_type" class="info-line">
        <label class="caption_view">Source Message Type</label>
        <div class="info">{{validation.msgFldMapping.source_msg_type}}</div>
      </div>
      <div *ngIf="validation.msgFldMapping && validation.msgFldMapping.source_msg_leg" class="info-line">
        <label class="caption_view">Source Message Leg</label>
        <div class="info">{{validation.msgFldMapping.source_msg_leg}}</div>
      </div>
      <div *ngIf="validation.msgFldMapping && validation.msgFldMapping.target_msg_type" class="info-line">
        <label class="caption_view">Target Message Type</label>
        <div class="info">{{validation.msgFldMapping.target_msg_type}}</div>
      </div>
      <div *ngIf="validation.msgFldMapping && validation.msgFldMapping.target_msg_leg" class="info-line">
        <label class="caption_view">Target Message Leg</label>
        <div class="info">{{validation.msgFldMapping.target_msg_leg}}</div>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="template.testcase_description" class="info-line">
      <label class="caption_view">Test Case Description</label>
      <div class="info">{{template.testcase_description}}</div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div *ngIf="!dataSource">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
        <h1>No Details Available</h1>
      </div>
      <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
        <h2>Loading...</h2>
      </div>
    </div>
  </div>
  <div class="list-wrapper" *ngIf="dataSource">
    <div class="list-table">
      <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="target_field_name">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Target Field Name</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.target_field_name}}">{{element.target_field_name}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="field_description">
          <mat-header-cell *matHeaderCellDef>Target Field Description</mat-header-cell>
          <mat-cell *matCellDef="let element"><span matTooltip="{{element.field_description}}">{{element.field_description}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="target_field_value">
          <mat-header-cell *matHeaderCellDef>Target Field Value</mat-header-cell>
          <mat-cell *matCellDef="let element"><span matTooltip="{{element.target_field_value}}">{{element.target_field_value}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="source_field_name">
          <mat-header-cell *matHeaderCellDef>Source Field Name</mat-header-cell>
          <mat-cell *matCellDef="let element"><span matTooltip="{{element.source_field_name}}">{{element.source_field_name}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="source_field_description">
          <mat-header-cell *matHeaderCellDef>Source Field Description</mat-header-cell>
          <mat-cell *matCellDef="let element"><span matTooltip="{{element.source_field_description}}">{{element.source_field_description}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="source_field_value">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Source Field Value</mat-header-cell>
          <mat-cell *matCellDef="let element"><span matTooltip="{{element.source_field_value}}">{{element.source_field_value}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="exp_target_field_value">
          <mat-header-cell *matHeaderCellDef>Expected Field Value</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element?.exp_target_field_value}}">{{element?.exp_target_field_value}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="match_required">
          <mat-header-cell *matHeaderCellDef>Match Required</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element?.match_required}}">{{element?.match_required}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="is_passed">
          <mat-header-cell *matHeaderCellDef>Matched</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.is_passed}}">{{element.is_passed}}</span></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [length]="paginatorOptions.count"
                   [pageSize]="paginatorOptions.pageSize"
                   [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                   [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                   (page)="fetchCertCriteriaRepDtlOutValidationFldDetails($event)">
    </mat-paginator>
  </div>
</div>

