.list {
  width: 100%;
}

.mat-column-actions {
  max-width: 150px;
}

.mat-column-template_name {
  max-width: 200px;
}

.mat-column-testcase_description {
  min-width: 200px;
}

.mat-column-initiating_msg_type {
  max-width: 200px;
}

.mat-column-template_status {
  max-width: 150px;
}

.mat-column-status_update_dttm {
  max-width: 275px;
}

.addField {
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}
