*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
}

.comp-button[md-button], .comp-button[md-raised-button] {
  text-transform: uppercase;
}

h1, h2 {
  font-weight: 400;
}

.comp-primary-header {
  padding-left: 20px;
  padding-right: 20px;

  h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 24px;
  }
}

.nonavbar {
  top: 0 !important;
}

.withnavbar {
  top: 52px !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-spacer {
  flex-grow: 1;
}

.hide {
  display: none;
}

.field {
  min-height: 65px;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.half-width {
  width: 50%;
  max-width: 50%;
}

.three-forth-width {
  width: 75%;
  max-width: 75%;
}

.fieldset {
  border: 1px solid;
  padding: 20px;
  margin-bottom: 2px;
}

.border-around {
  border: 1px solid;
  padding: 10px;
  @include media-breakpoint-down('sm') {
    border: none;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}
