@mixin tooltip-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .hintButton {
    mat-icon {
      color: mat-color($foreground, hint-text);
    }
  }
}
