<span [matTooltip]="text"
      [matTooltipPosition]="position"
      [matTooltipHideDelay]="delay"
      #tooltip1="matTooltip"></span>
<button class="hintButton" type="button" mat-icon-button (click)="tooltip1.show()">
  <mat-icon>{{icon}}</mat-icon>
</button>
