<div class="page"></div>
<mat-card class="list" *ngIf="!participant">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card *ngIf="participant" class="form-container">
  <div class="header">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap.gt-xs="10px"
         fxLayoutAlign.gt-xs="strech start">
      <div fxFlex="50">
        <div *ngIf="participant.id" class="info-line">
          <label class="caption_view">Participant Id</label>
          <div class="info">{{participant.id}}</div>
        </div>
        <div *ngIf="participant.name" class="info-line">
          <label class="caption_view">Participant Name</label>
          <div class="info">{{participant.name}}</div>
        </div>
      </div>

      <div fxFlex="50">
        <div
          *ngIf="participant.connections && participant.default_connection_id && participant.default_connection_id.length"
          class="info-line">
          <label class="caption_view">Default Connection Id</label>
          <div class="info">{{participant.default_connection_id[0].connection_id}}</div>
        </div>
        <div *ngIf="participant.settlementAccount" class="info-line">
          <label class="caption_view">Settlement Account Id</label>
          <div class="info">{{participant.settlementAccount}}</div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div *ngIf="participant && participant.id">
    <view-timeout-offset-detail-list [participantId]="participant.id"></view-timeout-offset-detail-list>
  </div>

</mat-card>
