.list {
  width: 100%;
}

.mat-column-actions {
  max-width: 100px;
}

.mat-column-template_name {
  max-width: 150px;
}

.mat-column-weightage {
  max-width: 100px;
}

.mat-column-conn_name {
  min-width: 120px;
  max-width: 200px;
}

.mat-column-template_type {
  max-width: 120px;
}

.mat-column-testcase_description {
  min-width: 200px;
}

.mat-column-initiating_msg_type {
  max-width: 200px;
}

.mat-column-select {
  min-width: 80px !important;
  max-width: 80px !important;
}

.execField {
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}

.viewField {
  position: fixed;
  bottom: 80px;
  right: 12px;
  padding: 0;
  z-index: 99;
}
