.mat-column-actions {
  max-width: 100px;
}

.mat-column-instruction_id {
  min-width: 340px;
}

.mat-column-leg1_tmstmp,
.mat-column-leg2_tmstmp,
.mat-column-leg3_tmstmp {
  min-width: 275px !important;
  max-width: 275px !important;
}
