<div class="modal-list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h3>No Max Records Available</h3>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="modal-list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="instruction_id">
        <mat-header-cell *matHeaderCellDef>Instruction Identifier</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.instruction_id}}">{{element.instruction_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="leg1_tmstmp">
        <mat-header-cell *matHeaderCellDef>Leg1 Timestamp</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.leg1_tmstmp}}">{{element.leg1_tmstmp}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="leg2_tmstmp">
        <mat-header-cell *matHeaderCellDef>Leg2 Timestamp</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.leg2_tmstmp}}">{{element.leg2_tmstmp}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="leg3_tmstmp">
        <mat-header-cell *matHeaderCellDef>Leg3 Timestamp</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.leg3_tmstmp}}">{{element.leg3_tmstmp}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="leg4_tmstmp">
        <mat-header-cell *matHeaderCellDef>Leg4 Timestamp</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.leg4_tmstmp}}">{{element.leg4_tmstmp}}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchBulkTpsSummaryMinRecordListing($event)">
  </mat-paginator>
</div>
