<div class="page"></div>
<mat-card class="list" *ngIf="!certCriteria">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card *ngIf="certCriteria" class="form-container">
  <div class="header">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap.gt-xs="10px"
         fxLayoutAlign.gt-xs="strech start">
      <div fxFlex="25">
        <div *ngIf="certCriteria.criteria_name" class="info-line">
          <label class="caption_view">Criteria Name</label>
          <div class="info">{{certCriteria.criteria_name}}</div>
        </div>
        <div *ngIf="certCriteria.criteria_type" class="info-line">
          <label class="caption_view">Criteria Type</label>
          <div class="info">{{certCriteria.criteria_type}}</div>
        </div>
      </div>

      <div fxFlex="25">
        <div *ngIf="certCriteria.participant_id" class="info-line">
          <label class="caption_view">Participant Id</label>
          <div class="info">{{certCriteria.participant_id}}</div>
        </div>
        <div *ngIf="certCriteria.participant.name" class="info-line">
          <label class="caption_view">Participant Name</label>
          <div class="info">{{certCriteria.participant.name}}</div>
        </div>
      </div>

      <div fxFlex="25">
        <div *ngIf="certCriteria.hasOwnProperty('is_bulk')" class="info-line">
          <label class="caption_view">Is Bulk</label>
          <div class="info">{{certCriteria.is_bulk}}</div>
        </div>
        <div *ngIf="certCriteria.is_bulk && certCriteria.duration" class="info-line">
          <label class="caption_view">Run Duration (seconds)</label>
          <div class="info">{{certCriteria.duration}}</div>
        </div>
        <div *ngIf="certCriteria.is_bulk && certCriteria.iterations" class="info-line">
          <label class="caption_view">Run Iterations</label>
          <div class="info">{{certCriteria.iterations}}</div>
        </div>
      </div>

      <div fxFlex="25">
        <div class="info-line">
          <label class="caption_view">Is Deactive</label>
          <div class="info">{{certCriteria.is_deactive ? certCriteria.is_deactive : 'false'}}</div>
        </div>
        <div *ngIf="certCriteria.is_bulk && certCriteria.hasOwnProperty('request_interval')" class="info-line">
          <label class="caption_view">Run Interval (seconds)</label>
          <div class="info">{{certCriteria.request_interval}}</div>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="certCriteria.criteria_description" class="info-line">
        <label class="caption_view">Criteria Description</label>
        <div class="info">{{certCriteria.criteria_description}}</div>
      </div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div *ngIf="certCriteriaId">
    <certification-criteria-detail-list [id]="certCriteriaId"
                                        [criteriaType]="certCriteria.criteria_type"
                                        [participantId]="certCriteria.participant_id"
                                        [is_bulk]="certCriteria.is_bulk">
    </certification-criteria-detail-list>
  </div>

</mat-card>
