.mat-column-id {
  min-width: 300px;
}

.mat-column-actions {
  max-width: 50px;
}

.mat-column-is_deactive {
  max-width: 110px;
}

.mat-column-firstName,
.mat-column-lastName,
.mat-column-contactProfile_id,
.mat-column-participant_id {
  min-width: 150px;
}

.mat-column-role_id {
  min-width: 250px;
}
