<div class="page"></div>
<div class="search-form form-container">
  <mat-expansion-panel [expanded]="true" [disabled]="true" [hideToggle]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Payment Related Transaction Search
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="nonPaymentTransactionForm" (ngSubmit)="submitNonPaymentTransactionForm()" novalidate
          autocomplete="off">
      <div class="field full-width"
           fxLayout="row"
           fxLayoutAlign="space-between start">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Transaction Type"
                 type="search"
                 spellcheck="false"
                 [matAutocomplete]="autoTransactionType"
                 formControlName="transaction_type">
          <mat-autocomplete #autoTransactionType="matAutocomplete" [displayWith]="transactionTypeDisplayFn"
                            [autoActiveFirstOption]="true">
            <mat-option *ngFor="let transactionType of filteredTransactionTypes | async" [value]="transactionType">
              <p *ngIf="transactionType" class="font-size-14 text-truncate">{{transactionType.id }} -
                {{transactionType.description }}</p>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="transaction_type.invalid">{{getErrorMessage('transaction_type')}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="field full-width">
          <input type="text" matInput placeholder="Instruction Identifier" formControlName="instruction_id"
                 autocomplete="off">
          <mat-error *ngIf="instruction_id.invalid">{{getErrorMessage('instruction_id')}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column"
           fxLayoutAlign="start start"
           fxLayout.gt-xs="row"
           fxLayoutGap.gt-xs="20px"
           fxLayoutAlign.gt-xs="strech start" *ngIf="notHasInstructionId()">
        <mat-form-field class="field full-width" fxFlex.gt-xs="50">
          <input matInput
                 [matDatepicker]="picker"
                 placeholder="Transaction Creation From Date"
                 formControlName="transaction_create_frm_date"
                 (dateChange)="frmDateChanged($event)"
                 readonly
                 class="non-readonly"
                 (click)="picker.open()"
                 (focus)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="transaction_create_frm_date.invalid">{{getErrorMessage('transaction_create_frm_date')}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field full-width" fxFlex.gt-xs="50">
          <input type="text"
                 matInput
                 [owlDateTimeTrigger]="dt1"
                 [owlDateTime]="dt1"
                 (dateTimeChange)="frmTimeChanged()"
                 placeholder="Transaction Creation From Time"
                 formControlName="transaction_create_frm_time">
          <button type="button" mat-icon-button matSuffix [owlDateTimeTrigger]="dt1">
            <mat-icon style="cursor: pointer;">alarm</mat-icon>
          </button>
          <mat-error *ngIf="transaction_create_frm_time.invalid">{{getErrorMessage('transaction_create_frm_time')}}
          </mat-error>
          <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
        </mat-form-field>
      </div>

      <div fxLayout="column"
           fxLayoutAlign="start start"
           fxLayout.gt-xs="row"
           fxLayoutGap.gt-xs="20px"
           fxLayoutAlign.gt-xs="strech start" *ngIf="notHasInstructionId()">
        <mat-form-field class="field full-width" fxFlex.gt-xs="50">
          <input matInput
                 [min]="nonPaymentTransactionForm.value.transaction_create_frm_date?nonPaymentTransactionForm.value.transaction_create_frm_date:null"
                 [matDatepicker]="picker2"
                 placeholder="Transaction Creation To Date"
                 formControlName="transaction_create_to_date"
                 (dateChange)="toDateChanged($event)"
                 readonly
                 class="non-readonly"
                 (click)="picker2.open()"
                 (focus)="picker2.open()">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="transaction_create_to_date.invalid">{{getErrorMessage('transaction_create_to_date')}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field full-width" fxFlex.gt-xs="50">
          <input type="text"
                 matInput
                 [min]="nonPaymentTransactionForm.value.transaction_create_frm_time?nonPaymentTransactionForm.value.transaction_create_frm_time:null"
                 [owlDateTimeTrigger]="dt2"
                 [owlDateTime]="dt2"
                 (dateTimeChange)="toTimeChanged()"
                 placeholder="Transaction Creation To Time"
                 formControlName="transaction_create_to_time">
          <button type="button" mat-icon-button matSuffix [owlDateTimeTrigger]="dt2">
            <mat-icon style="cursor: pointer;">alarm</mat-icon>
          </button>
          <mat-error *ngIf="transaction_create_to_time.invalid">{{getErrorMessage('transaction_create_to_time')}}
          </mat-error>
          <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
        </mat-form-field>
      </div>

      <div class="margin-bottom-15" *ngIf="notHasInstructionId() && isParticipantContact">
        <label>Your Role: </label>
        <mat-radio-group class="field" formControlName="role" (change)="roleChanged($event)">
          <mat-radio-button color="primary" value="Creditor">As Creditor</mat-radio-button>
          <mat-radio-button color="primary" value="Debtor">As Debtor</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="field full-width"
           fxLayout="row"
           fxLayoutAlign="space-between start" *ngIf="notHasInstructionId()">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Creditor Participant Id"
                 type="search"
                 spellcheck="false"
                 [matAutocomplete]="autoCreditorParticipant"
                 formControlName="creditor_participant_id"
                 [readonly]="nonPaymentTransactionForm.value.role==='Creditor' && isParticipantContact">
          <mat-autocomplete #autoCreditorParticipant="matAutocomplete" [displayWith]="participantDisplayFn"
                            [autoActiveFirstOption]="true">
            <mat-option *ngFor="let participant of filteredCreditorParticipants | async" [value]="participant">
              <p *ngIf="participant" class="font-size-14 text-truncate">{{participant.id }} -
                {{participant.name }}</p>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="creditor_participant_id.invalid">{{getErrorMessage('creditor_participant_id')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="field full-width"
           fxLayout="row"
           fxLayoutAlign="space-between start" *ngIf="notHasInstructionId()">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Debtor Participant Id"
                 type="search"
                 spellcheck="false"
                 [matAutocomplete]="autoDebtorParticipant"
                 formControlName="debtor_participant_id"
                 [readonly]="nonPaymentTransactionForm.value.role==='Debtor' && isParticipantContact">
          <mat-autocomplete #autoDebtorParticipant="matAutocomplete" [displayWith]="participantDisplayFn"
                            [autoActiveFirstOption]="true">
            <mat-option *ngFor="let participant of filteredDebtorParticipants | async" [value]="participant">
              <p *ngIf="participant" class="font-size-14 text-truncate">{{participant.id }} -
                {{participant.name }}</p>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="debtor_participant_id.invalid">{{getErrorMessage('debtor_participant_id')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="field full-width"
           fxLayout="row"
           fxLayoutAlign="space-between start"
           *ngIf="nonPaymentTransactionForm.value.creditor_participant_id && nonPaymentTransactionForm.value.creditor_participant_id.id && notHasInstructionId()">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Creditor Sortcode/Routing Number"
                 type="search"
                 spellcheck="false"
                 [matAutocomplete]="autoCreditorParticipantRouting"
                 formControlName="creditor_routing_id">
          <mat-autocomplete #autoCreditorParticipantRouting="matAutocomplete"
                            [displayWith]="participantRoutingDetailDisplayFn"
                            [autoActiveFirstOption]="true">
            <mat-option *ngFor="let routing of filteredCreditorParticipantRoutings | async" [value]="routing">
              <p *ngIf="routing" class="font-size-14 text-truncate">{{routing.id }}</p>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="creditor_routing_id.invalid">{{getErrorMessage('creditor_routing_id')}}</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="notHasInstructionId()">
        <mat-form-field class="field full-width">
          <input type="text" matInput placeholder="Creditor Account Number" formControlName="creditor_account_id"
                 autocomplete="off">
          <mat-error *ngIf="creditor_account_id.invalid">{{getErrorMessage('creditor_account_id')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="field full-width"
           fxLayout="row"
           fxLayoutAlign="space-between start"
           *ngIf="nonPaymentTransactionForm.value.debtor_participant_id && nonPaymentTransactionForm.value.debtor_participant_id.id && notHasInstructionId()">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Debtor Sortcode/Routing Number"
                 type="search"
                 spellcheck="false"
                 [matAutocomplete]="autoDebtorParticipantRouting"
                 formControlName="debtor_routing_id">
          <mat-autocomplete #autoDebtorParticipantRouting="matAutocomplete"
                            [displayWith]="participantRoutingDetailDisplayFn"
                            [autoActiveFirstOption]="true">
            <mat-option *ngFor="let routing of filteredDebtorParticipantRoutings | async" [value]="routing">
              <p *ngIf="routing" class="font-size-14 text-truncate">{{routing.id }}</p>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="debtor_routing_id.invalid">{{getErrorMessage('debtor_routing_id')}}</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="notHasInstructionId()">
        <mat-form-field class="field full-width">
          <input type="text" matInput placeholder="Debtor Account Number" formControlName="debtor_account_id"
                 autocomplete="off">
          <mat-error *ngIf="debtor_account_id.invalid">{{getErrorMessage('debtor_account_id')}}</mat-error>
        </mat-form-field>
      </div>


      <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SEARCH</button>
        &nbsp;
        <button type="reset" mat-raised-button color="primary" [disabled]="inProgress" (click)="resetForm()">RESET FORM</button>
      </div>
    </form>
  </mat-expansion-panel>
</div>
