<div>
  <h2>{{IS_EDIT?'Edit':'Add New'}} Test Template Field</h2>
  <form [formGroup]="testTemplateFieldValueForm" (ngSubmit)="submitTestTemplateFieldValueForm()" novalidate autocomplete="off">
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Field Name"
               aria-label="Field Name"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoFieldName"
               formControlName="field_name">
        <mat-autocomplete #autoFieldName="matAutocomplete" [displayWith]="msgFldDetailsDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let msgFld of filteredMsgFlds | async" [value]="msgFld">
            <p *ngIf="msgFld" class="font-size-14 text-truncate">
              {{msgFld.field_name }} - {{msgFld.field_description }}
            </p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="field_name.invalid">{{getErrorMessage('field_name')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.field_name" position="above"></tooltip>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Field Value"
               formControlName="field_value">
        <mat-error *ngIf="field_value.invalid">{{getErrorMessage('field_value')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
      <button type="button" mat-raised-button [disabled]="inProgress" (click)="onNoClick()">CANCEL</button>
    </div>
  </form>
</div>
