<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/view-payment-transactions/non-payment-transaction'">Go back to Non Payment
        Transaction Search Form</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button *ngIf="hasPermissionToViewTransactions" mat-icon-button (click)="viewTransactionDetail(element)"
                  matTooltip="View Transaction Details">
            <mat-icon>list</mat-icon>
          </button>
          <button *ngIf="hasPermissionToViewMessageLegs" mat-icon-button (click)="viewMessageLegDetail(element)"
                  matTooltip="View Message Legs">
            <mat-icon>airline_seat_legroom_extra</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Instruction Identifier" searchKey="id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.id}}">{{element.id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="transaction_type">
        <mat-header-cell *matHeaderCellDef>Transaction Type</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.transaction_type}}">{{element.transaction_type}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="creation_tmstmp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Creation Date/Time</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.creation_tmstmp}}">{{element.creation_tmstmp}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creditor_participant_id">
        <mat-header-cell *matHeaderCellDef>Creditor Participant Id</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.creditor_participant_id}}">{{element.creditor_participant_id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="debtor_participant_id">
        <mat-header-cell *matHeaderCellDef>Debtor Participant Id</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.debtor_participant_id}}">{{element.debtor_participant_id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="org_msg_name">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Original Message Name" searchKey="org_msg_name" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.org_msg_name}}">{{element.org_msg_name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="org_instruction_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Original Instruction Identifier" searchKey="org_instruction_id"
                  (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.org_instruction_id}}">{{element.org_instruction_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creditor_routing_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Creditor Sortcode/Routing Number" searchKey="creditor_routing_id"
                  (search)="applyFilter($event)" [sort]="false"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.creditor_routing_id}}">{{element.creditor_routing_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creditor_account_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Creditor Account Number" searchKey="creditor_account_id"
                  (search)="applyFilter($event)" [sort]="false"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.creditor_account_id}}">{{element.creditor_account_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="debtor_routing_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Debtor Sortcode/Routing Number" searchKey="debtor_routing_id"
                  (search)="applyFilter($event)" [sort]="false"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.debtor_routing_id}}">{{element.debtor_routing_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="debtor_account_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Debtor Account Number" searchKey="debtor_account_id"
                  (search)="applyFilter($event)" [sort]="false"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.debtor_account_id}}">{{element.debtor_account_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.amount|currency:' '}}">{{element.amount|currency:' '}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="end_to_end_reference">
        <mat-header-cell *matHeaderCellDef>End To End Id</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.end_to_end_reference }}">{{element.end_to_end_reference }}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="accept_reject_code">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.accept_reject_code}}">{{element.accept_reject_code}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="reason_code">
        <mat-header-cell *matHeaderCellDef>Reason Code</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.reason_code }}">{{element.reason_code }}</span></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchNonPaymentTransaction($event)">
  </mat-paginator>
</mat-card>
