.list {
  width: 100%;
}

.mat-column-actions {
  min-width: 100px;
}

.mat-column-id {
  min-width: 350px;
}

.mat-column-transaction_type {
  min-width: 100px;
}

.mat-column-creditor_participant_id {
  min-width: 150px;
}

.mat-column-debtor_participant_id {
  min-width: 150px;
}

.mat-column-creditor_routing_id {
  min-width: 200px;
}

.mat-column-creditor_account_id {
  min-width: 200px;
}

.mat-column-debtor_routing_id {
  min-width: 200px;
}

.mat-column-debtor_account_id {
  min-width: 200px;
}

.mat-column-amount {
  min-width: 100px;
}

.mat-column-accept_reject_code {
  min-width: 100px;
}

.mat-column-creation_tmstmp {
  min-width: 275px;
}

.mat-column-org_msg_name {
  min-width: 220px;
}

.mat-column-end_to_end_reference {
  min-width: 275px;
}

.mat-column-reason_code {
  min-width: 100px;
}

.mat-column-org_instruction_id {
  min-width: 300px;
}
