<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="criteria_name">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Criteria Name" searchKey="criteria_name" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.criteria_name}}">{{element.criteria_name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="criteria_type">
        <mat-header-cell *matHeaderCellDef>Criteria Type</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.criteria_type}}">{{element.criteria_type}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="criteria_description">
        <mat-header-cell *matHeaderCellDef>Criteria Description</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.criteria_description}}">{{element.criteria_description}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="template_names">
        <mat-header-cell *matHeaderCellDef>Test Template Name(s)</mat-header-cell>
        <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <span matTooltip="{{getFirstTestTemplateName(element.template_names)}}">{{getFirstTestTemplateName(element.template_names)}}&nbsp;</span>
          <span [matTooltip]="'All Test Template Names: '+getOtherTestTemplateNames(element.template_names)"
                [matTooltipPosition]="'above'"
                [matTooltipHideDelay]="2000"
                #tooltip1="matTooltip"></span>
          <button *ngIf="element.template_names.length>1"
                  class="other_templates" type="button"
                  mat-icon-button (click)="tooltip1.show()">
            {{element.template_names.length}}
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="participant_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Participant Id" searchKey="participant_id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.participant_id}}">{{element.participant_id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-icon-button [routerLink]="['view/'+element._id]" matTooltip="View">
            <mat-icon>remove_red_eye</mat-icon>
          </a>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchCertCriteriaListing($event)">
  </mat-paginator>
</mat-card>
