@mixin component-test-template-view-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  h4 {
    color: mat-color($foreground, secondary-text);
  }
}
