<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-icon-button [routerLink]="['edit/'+element._id]" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Participant Id" searchKey="id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.id}}">{{element.id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="short_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Short Participant Id" searchKey="short_id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.short_id}}">{{element.short_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Name" searchKey="name" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.name}}">{{element.name}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="connections">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Default Connection Id" searchKey="connections" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <span matTooltip="{{getDefaultConnectionId(element.connections)}}">{{getDefaultConnectionId(element.connections)}}&nbsp;</span>
          <span [matTooltip]="'Other Connection Ids: '+getOtherConnectionId(element.connections)"
                [matTooltipPosition]="'above'"
                [matTooltipHideDelay]="2000"
                #tooltip1="matTooltip"></span>
          <button *ngIf="element.connections.length>1"
                  class="other_connections" type="button"
                  mat-icon-button (click)="tooltip1.show()">
            {{element.connections.length-1}}
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="settlementAccount">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Settlement Account Id" searchKey="settlementAccount"
                  (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.settlementAccount}}">{{element.settlementAccount}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="privileges">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Participant Privileges" searchKey="privileges" (search)="applyFilter($event)"
                  [sort]="false"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <span matTooltip="{{element.privileges[0]}}">{{element.privileges[0]}}&nbsp;</span>
          <span [matTooltip]="'All privileges: '+element.privileges"
                [matTooltipPosition]="'above'"
                [matTooltipHideDelay]="2000"
                #tooltip2="matTooltip"></span>
          <button *ngIf="element.privileges.length>1" class="other_connections" type="button"
                  mat-icon-button (click)="tooltip2.show()">
            {{element.privileges.length}}
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="initial_signon">
        <mat-header-cell *matHeaderCellDef> Is Signon</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.initial_signon}}">{{element.initial_signon}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_suspended">
        <mat-header-cell *matHeaderCellDef> Is Suspended</mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.is_suspended}}">{{element.is_suspended}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="effective_date">
        <mat-header-cell *matHeaderCellDef> Effective From Date</mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.effective_date | date}}">{{element.effective_date | date}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_deactive">
        <mat-header-cell *matHeaderCellDef>Is Deactive</mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.is_deactive}}">{{element.is_deactive}}</span>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchParticipantListing($event)">
  </mat-paginator>
</mat-card>
