.mat-column-id {
  min-width: 200px;
}

.mat-column-actions {
  max-width: 100px;
}

.mat-column-short_id {
  min-width: 200px;
}

.mat-column-name {
  min-width: 200px;
}

.mat-column-connections {
  min-width: 150px;
  margin-right: 40px;
}

.mat-column-privileges {
  min-width: 150px;
  margin-right: 40px;
}

.mat-column-settlementAccount {
  min-width: 150px;
  margin-right: 20px;
}

.mat-column-is_deactive {
  min-width: 100px;
}

.mat-column-initial_signon {
  min-width: 100px;
}

.mat-column-is_suspended {
  min-width: 100px;
}

.mat-column-effective_date {
  min-width: 100px;
}

.other_connections {
  width: 25px;
  height: 25px;
  line-height: 25px;
}
