<div class="page"></div>
<div class="search-form form-container">
  <mat-expansion-panel [expanded]="true" [disabled]="true" [hideToggle]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Account Search
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="accountSearchForm" (ngSubmit)="submitAccountSearchForm(formDirective)" novalidate autocomplete="off"
          #formDirective="ngForm">

      <div class="field full-width"
           fxLayout="row"
           fxLayoutAlign="space-between start">
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Participant Id"
                 type="search"
                 spellcheck="false"
                 [matAutocomplete]="autoParticipant"
                 formControlName="participant_id"
                 [readonly]="isParticipantContact">
          <mat-autocomplete #autoParticipant="matAutocomplete" [displayWith]="participantDisplayFn"
                            [autoActiveFirstOption]="true">
            <mat-option *ngFor="let participant of filteredParticipants | async" [value]="participant">
              <p *ngIf="participant" class="font-size-14 text-truncate">{{participant.id }} - {{participant.name }}</p>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="participant_id.invalid">{{getErrorMessage('participant_id')}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SUBMIT</button>
      </div>
    </form>
  </mat-expansion-panel>
</div>
