.list {
  width: 100%;
}

.mat-column-actions {
  max-width: 50px;
}

.mat-column-id {
  min-width: 350px;
}

.mat-column-message_identifier {
  min-width: 200px;
}

.mat-column-leg_name {
  min-width: 100px;
}

.mat-column-connection_id {
  min-width: 120px;
  max-width: 175px;
}

.mat-column-msg_set_version {
  min-width: 100px;
}


.mat-column-send_receive_tmstmp {
  min-width: 275px;
}

.mat-column-leg_xml_data {
  min-width: 200px;
  max-width: 200px;
}
