<mat-toolbar class="comp-navbar-header">

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

      <button mat-icon-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="toolbar-separator" fxHide.gt-md></div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <a mat-button class="comp-button" routerLink="/" aria-label="Payment Certification Platform">
          <span class="res_font">Payment Certification Platform</span>
        </a>
      </div>
    </div>

    <div class="toolbar-separator" fxHide.gt-md></div>

    <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center" *ngIf="identity">
      <button fxHide fxShow.gt-sm mat-button [matMenuTriggerFor]="userMenu" class="comp-button">
        <span fxLayout="row" fxLayoutAlign="center center">
          <span fxHide fxShow.gt-sm>{{identity?.firstName}} {{identity?.lastName}} </span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </span>
      </button>
      <button fxHide fxShow.lt-md mat-icon-button [matMenuTriggerFor]="userMenu" class="comp-button">
        <span fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>more_vert</mat-icon>
        </span>
      </button>
      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button fxHide fxShow.lt-md mat-menu-item *ngIf="identity">
          <mat-icon>account_circle</mat-icon>
          <span>{{identity?.firstName}} {{identity?.lastName}}</span>
        </button>
        <button mat-menu-item (click)="changePassword()">
          <mat-icon>autorenew</mat-icon>
          <span>Change Password</span>
        </button>
        <button mat-menu-item class="" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
