.mat-column-actions {
  max-width: 50px;
}

.mat-column-is_deactive {
  min-width: 100px;
}

.mat-column-msg_set_version,
.mat-column-validate_signature,
.mat-column-echo_enabled,
.mat-column-echo_conn_status_update,
.mat-column-echo_conn_unavailable_mark_duration,
.mat-column-echo_interval {
  min-width: 100px;
}

.mat-column-owner_id,
.mat-column-id,
.mat-column-initial_available,
.mat-column-effective_date {
  min-width: 150px;
}
