<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Id" searchKey="id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.id}}">{{element.id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="owner_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Owner ID" searchKey="owner_id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.owner_id}}">{{element.owner_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="msg_set_version">
        <mat-header-cell *matHeaderCellDef>Message Set Version</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.msg_set_version}}">{{element.msg_set_version}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="validate_signature">
        <mat-header-cell *matHeaderCellDef>Validate Signature</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.validate_signature}}">{{element.validate_signature}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="echo_enabled">
        <mat-header-cell *matHeaderCellDef>Echo Enabled</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.echo_enabled}}">{{element.echo_enabled}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="echo_conn_status_update">
        <mat-header-cell *matHeaderCellDef>Echo Status Update</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.echo_conn_status_update}}">{{element.echo_conn_status_update}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="echo_conn_unavailable_mark_duration">
        <mat-header-cell *matHeaderCellDef>Mark Unavailable Duration</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.echo_conn_unavailable_mark_duration}}">{{element.echo_conn_unavailable_mark_duration}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="echo_interval">
        <mat-header-cell *matHeaderCellDef>Echo Interval</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.echo_interval}}">{{element.echo_interval}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="initial_available">
        <mat-header-cell *matHeaderCellDef> Is available</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.initial_available}}">{{element.initial_available}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="effective_date">
        <mat-header-cell *matHeaderCellDef> Effective Date</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.effective_date|date}}">{{element.effective_date|date}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_deactive">
        <mat-header-cell *matHeaderCellDef> Is Deactive</mat-header-cell>
        <mat-cell *matCellDef="let element"><span matTooltip="{{element.is_deactive}}">{{element.is_deactive}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-icon-button [routerLink]="['edit/'+element._id]" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </a>
          <!--<a mat-icon-button>-->
          <!--<mat-icon>delete</mat-icon>-->
          <!--</a>-->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchConnectionListing($event)">
  </mat-paginator>
</mat-card>
