<div class="modal-list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h3>No Max Records Available</h3>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="modal-list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="instruction_id">
        <mat-header-cell *matHeaderCellDef>Instruction Identifier</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.instruction_id}}">{{element.instruction_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="leg2_leg1">
        <mat-header-cell *matHeaderCellDef>Leg1 To Leg2 Time (ms)</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.leg2_leg1}}">{{element.leg2_leg1}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="leg3_leg2">
        <mat-header-cell *matHeaderCellDef>Leg2 To Leg3 Time (ms)</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.leg3_leg2}}">{{element.leg3_leg2}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="leg3_leg4">
        <mat-header-cell *matHeaderCellDef>Leg3 To Leg4 Time (ms)</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.leg3_leg4}}">{{element.leg3_leg4}}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchBulkPerfSummaryMaxRecordListing($event)">
  </mat-paginator>
</div>
