.mat-column-actions {
  max-width: 100px;
}

.mat-column-instruction_id {
  min-width: 300px;
}

.mat-column-leg2_leg1,
.mat-column-leg3_leg2,
.mat-column-leg3_leg4 {
  min-width: 160px !important;
  max-width: 160px !important;
}
