@mixin component-unlock-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  unlock {
    background-color: mat-color($primary, 50);
  }

  #error-500 {
    .message, .sub-message {
      color: mat-color($foreground, text);
    }
    .report-link {
      color: mat-color($foreground, text);
    }
  }
}
