<app-progress-bar></app-progress-bar>
<div id="error-500" fxLayout="column" fxLayoutAlign="center center" fxFlex *appIfOnDom
     [@animate]="{value:'*',params:{delay:'100ms'}}">

  <div class="content" fxFlex="0 0 auto" fxLayout="column wrap" fxLayoutAlign="center center"
       *ngIf="verified && !valid">
    <div class="message">Expired Activation Link!</div>

    <div class="sub-message">
      This link is expired or not valid. Please contact administrator.
    </div>

    <a mat-raised-button class="report-link" [routerLink]="'/account/login'" color="accent">GO BACK TO LOGIN</a>

  </div>

  <div class="form-content border-radius-primary box-shadow-primary"
       fxFlex="0 0 auto" fxLayout="column wrap" fxLayoutAlign="center center"
       *ngIf="!passwordChanged && verified && valid"
       [@animateStagger]="{value:'50'}"
       [@animate]="{value:'*',params:{y:'100%'}}">

    <form
      [formGroup]="setPassForm"
      (ngSubmit)="submitSetPassForm()"
      novalidate>
      <div class="text-center">
        <img width="150" src="../../../../../assets/images/logo.png">
      </div>
      <h2 class="text-left primary-color">Set Password</h2>
      <div class="input-wrapper">
        <mat-form-field>
          <span matPrefix><mat-icon matPrefix>lock</mat-icon>&nbsp;&nbsp;</span>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input-wrapper">
        <mat-form-field>
          <span matPrefix><mat-icon matPrefix>lock</mat-icon>&nbsp;&nbsp;</span>
          <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword">
          <mat-error *ngIf="confirmPassword.invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="button-wrapper">
        <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">Set Password</button>
      </div>
    </form>

  </div>

</div>
