<h2>Edit Template Name</h2>
<div>
  <form [formGroup]="certCriteriaForm" (ngSubmit)="submitCertCriteriaForm()" novalidate autocomplete="off">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Template Name"
               aria-label="Template Name"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoTemplateName"
               formControlName="template_names">
        <mat-autocomplete #autoTemplateName="matAutocomplete"
                          [displayWith]="templateNamesDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let testTemplate of filteredTemplateNames | async" [value]="testTemplate">
            <p *ngIf="testTemplate" class="font-size-14 text-truncate">{{testTemplate.template_name }} -
              {{testTemplate.template_type}} - {{testTemplate.testcase.testcase_name}} -
              {{testTemplate.testcase.testcase_description}}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="template_names.invalid">{{getErrorMessage('template_names')}}</mat-error>
      </mat-form-field>
    </div>
    <br/>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
      <button type="button" mat-raised-button [disabled]="inProgress" mat-dialog-close>CANCEL</button>
    </div>
  </form>
</div>
