<div class="page"></div>
<mat-card class="form-container">
  <form [formGroup]="stopBulkCriteriaForm" (ngSubmit)="submitStopBulkCriteriaForm()"
        novalidate autocomplete="off">
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Bulk Criteria Name"
               aria-label="Select Bulk Criteria Name"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoOwnerId"
               formControlName="criteria_name_dropdown">
        <mat-autocomplete #autoOwnerId="matAutocomplete" [displayWith]="certCriteriaDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let certCriteria of filteredCertCriteria | async" [value]="certCriteria">
            <p *ngIf="certCriteria" class="font-size-14 text-truncate">{{certCriteria.criteria_name }} -
              {{certCriteria.criteria_description }}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="criteria_name_dropdown.invalid">{{getErrorMessage('criteria_name_dropdown')}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">STOP</button>
    </div>
  </form>
</mat-card>
