@mixin component-page-header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .component-page-header {
    color: mat-color($primary, default-contrast);
    .subtitle {
      color: mat-color($foreground, secondary-text);
    }
    .product-image {
      border-color: mat-color($foreground, divider);
    }
    .icon {
      color: mat-color($foreground, icon);
    }
  }
}
