@import '../../../../styles/constants';

.component-page-header {
  display: flex;
  align-items: center;
  height: 140px;
  @media (max-width: $small-breakpoint-width) {
    padding-left: 0;
  }
  .back-button {
    margin-right: 8px;
  }

  .action-button {
    margin-right: 8px;
  }

  .product-image {
    width: 52px;
    height: 52px;
    border: 1px solid;
    margin-right: 8px;
    @media (max-width: $small-breakpoint-width) {
      margin-right: 16px;
    }
  }

  .icon {
    margin-left: 8px;
    margin-right: 16px;
    font-size: 26px !important;
    margin-top: 3px;
  }

  .subtitle {
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0 0 0;
  }
}

h1 {
  outline: none;
  padding: 5px 0;
  @media (max-width: $small-breakpoint-width) {
    font-size: 20px;
  }
}
