<div class="comp-primary-header component-page-header" *appIfOnDom [@animate]="{value:'*',params:{delay:'100ms'}}"
     fxLayout="row"
     fxLayout.lt-sm="column"
     fxLayoutAlign.lt-sm="center center"
     fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center">

    <button color="primary" class="back-button" *ngIf="headerDetails && headerDetails.backPath" mat-icon-button
            [routerLink]="headerDetails.backPath">
      <mat-icon *appIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">arrow_back</mat-icon>
    </button>

    <div *ngIf="headerDetails && headerDetails.showImage">
      <div class="product-image" *ngIf="!headerDetails.icon">
        <div *appIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          <img *ngIf="headerDetails.imageUrl" [src]="headerDetails.imageUrl">
          <img *ngIf="!headerDetails.imageUrl" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
        </div>
      </div>

      <div *ngIf="headerDetails.icon">
        <mat-icon class="icon" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">{{headerDetails.icon}}
        </mat-icon>
      </div>
    </div>

    <button color="primary" class="back-button" *ngIf="headerDetails && headerDetails.refreshButton" mat-icon-button
            (click)="refreshResults()">
      <mat-icon *appIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">refresh</mat-icon>
    </button>

    <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
      <h1 *appIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">{{title}}</h1>
      <div class="subtitle secondary-text" *ngIf="headerDetails && headerDetails.subTitle">
        <span>{{headerDetails.subTitle}}</span>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center space-between" fxLayoutGap="20px"
       *ngIf="headerDetails && headerDetails.actionButton"
       class="action-button">
    <a color="primary" routerLink="{{headerDetails.actionButton.url}}"
       mat-raised-button>{{headerDetails.actionButton.title}}</a>
    <a color="primary" *ngIf="headerDetails && headerDetails.actionButton2"
       routerLink="{{headerDetails.actionButton2.url}}" mat-raised-button>{{headerDetails.actionButton2.title}}</a>
  </div>
</div>
