<div class="modal-list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h3>No Summary Available</h3>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="modal-list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="transaction_type">
        <mat-header-cell *matHeaderCellDef>Transaction Type</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.transaction_type}}">{{element.transaction_type}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="min_total">
        <mat-header-cell *matHeaderCellDef>Min TPS</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.min_total}}">{{element.min_total}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="avg_total">
        <mat-header-cell *matHeaderCellDef>Avg TPS</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.avg_total}}">{{element.avg_total}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="max_total">
        <mat-header-cell *matHeaderCellDef>Max TPS</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.max_total}}">{{element.max_total}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="viewSampleMinTPSTransaction(element)"
                  matTooltip="View Sample Min TPS Transaction">
            <mat-icon>timelapse</mat-icon>
          </button>
          <button mat-icon-button (click)="viewTPSGraph(element)"
                  matTooltip="View TPS Graph">
            <mat-icon>insert_chart</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchBulkTpsSummaryListing($event)">
  </mat-paginator>
</div>
