<app-progress-bar></app-progress-bar>
<app-navbar *ngIf="!routeData?.hideNavBar" (toggleSidenav)="sidenavComponent.sidenav.toggle()"
            class="mat-elevation-z6"></app-navbar>
<app-sidenav [shouldKeepSideNavOpen]="!routeData?.hideSideNav" [hideHeader]="routeData?.hideHeader"></app-sidenav>
