<div class="page"></div>
<mat-card class="form-container">
  <form [formGroup]="participantForm" (ngSubmit)="submitParticipantForm()" novalidate autocomplete="off">
    <div class="field full-width"
         fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap="20px"
         fxLayoutAlign.gt-xs="space-between start">
      <div>
        <mat-slide-toggle color="primary" formControlName="initial_signon">Is Signon?</mat-slide-toggle>
        <tooltip position="above" [text]="helpText?.initial_signon"></tooltip>
      </div>
      <div>
        <mat-slide-toggle formControlName="is_suspended">Is Suspended?</mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle formControlName="is_deactive">Is Deactive?</mat-slide-toggle>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Participant Id"
               formControlName="id"
               [readonly]="IS_EDIT">
        <mat-error *ngIf="id.invalid">{{getErrorMessage('id')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Short Participant Id"
               formControlName="short_id"
               [readonly]="IS_EDIT">
        <mat-error *ngIf="short_id.invalid">{{getErrorMessage('short_id')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Name"
               formControlName="name">
        <mat-error *ngIf="name.invalid">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Default Connection Id"
               aria-label="Select Default Connection Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoDefaultConnectionId"
               formControlName="default_connection_id">
        <mat-autocomplete #autoDefaultConnectionId="matAutocomplete" [displayWith]="defaultConnectionDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let connection of filteredDefaultConnections | async" [value]="connection">
            <p *ngIf="connection" class="font-size-14 text-truncate">{{connection.id }} -
              {{connection.owner_id }}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="default_connection_id.invalid">{{getErrorMessage('default_connection_id')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.default_connection_id" position="above"></tooltip>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start"
         *ngIf="participantForm.value.default_connection_id && participantForm.value.default_connection_id.id">
      <mat-form-field class="full-width">
        <mat-chip-list #chipList formControlName="other_connection_id_chips">
          <mat-chip *ngFor="let item of displayOtherConnectionIds" [selectable]="selectable"
                    [removable]="removable && !inProgress" (removed)="removeConnection(item)">
            {{item.id}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matInput
                 placeholder="Other Connection Id(s)"
                 aria-label="Select Other Connection Id(s)"
                 type="search"
                 spellcheck="false"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addConnection($event)"
                 [matAutocomplete]="autoOtherConnectionId"
                 formControlName="other_connection_id">
          <mat-autocomplete #autoOtherConnectionId="matAutocomplete"
                            [displayWith]="otherConnectionDisplayFn"
                            [autoActiveFirstOption]="true"
                            (optionSelected)="addSelectConnection($event)">
            <mat-option *ngFor="let connection of filteredOtherConnections | async" [value]="connection">
              <p *ngIf="connection" class="font-size-14 text-truncate">{{connection.id }} -
                {{connection.owner_id }}</p>
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
        <mat-error *ngIf="other_connection_id.invalid">{{getErrorMessage('other_connection_id')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Settlement Account Id"
               aria-label="Select Settlement Account Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoSettlementAccount"
               formControlName="settlementAccount">
        <mat-autocomplete #autoSettlementAccount="matAutocomplete"
                          [displayWith]="settlementAccountDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let settlement_account of filteredSettlementAccounts | async"
                      [value]="settlement_account">
            <p *ngIf="settlement_account" class="font-size-14 text-truncate">
              {{settlement_account.id }} - {{settlement_account.owner_id }}
            </p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="settlementAccount.invalid">{{getErrorMessage('settlementAccount')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <mat-chip-list #chipList2 [multiple]="false" formControlName="privilegesChips">
          <mat-chip *ngFor="let item of displayParticipantPrivileges" [selectable]="false"
                    [removable]="removable && !inProgress" (removed)="removePrivilege(item)">
            {{item.id}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Participant Privileges"
                 aria-label="Select Participant Privileges"
                 type="search"
                 spellcheck="false"
                 [matChipInputFor]="chipList2"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addPrivilege($event)"
                 [matAutocomplete]="autoPrivileges"
                 formControlName="privileges">
          <mat-autocomplete #autoPrivileges="matAutocomplete"
                            [displayWith]="privilegesDisplayFn"
                            [autoActiveFirstOption]="true"
                            (optionSelected)="addSelectPrivilege($event)">
            <mat-option *ngFor="let privilege of filteredPrivileges | async" [value]="privilege">
              <p *ngIf="privilege" class="font-size-14 text-truncate">
                {{privilege.id }} - {{privilege.description }}
              </p>
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
        <mat-error *ngIf="privilegesChips.invalid">{{getErrorMessage('privilegesChips')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.privilege" position="above"></tooltip>
    </div>
    <div>
      <mat-form-field class="field">
        <input matInput
               [min]="minDate"
               [matDatepicker]="picker"
               placeholder="Effective From Date"
               formControlName="effective_date"
               [readonly]="effectiveDateDisabled">
        <mat-datepicker-toggle matSuffix [for]="picker" *ngIf="!effectiveDateDisabled"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="effective_date.invalid">{{getErrorMessage('effective_date')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.effective_date" position="above"></tooltip>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
    </div>
  </form>
</mat-card>
