.list {
  width: 100%;
}

.list-wrapper {
  width: 95% !important;
}

.mat-column-actions {
  min-width: 200px;
  max-width: 200px;
}

.cdk-column-actions[role="columnheader"] {
  padding-left: 35px;
}

.mat-column-run_id {
  max-width: 200px;
}

.mat-column-criteria_description {
  min-width: 300px;
}

.mat-column-criteria_name {
  min-width: 200px;
  max-width: 200px;
}

.mat-column-status {
  min-width: 150px;
  max-width: 150px;
}

.mat-column-rpt_aggrn_status {
  min-width: 150px;
}

.mat-column-template_names {
  min-width: 250px;
  max-width: 250px;
}

.mat-column-exe_requested_datetime,
.mat-column-exe_end_datetime {
  min-width: 260px;
  max-width: 260px;
}

.other_templates {
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-right: 30px;
}
