<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/view-report/bulk-execution-report'">Go back to Bulk Execution Search Form</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="run_id">
        <mat-header-cell *matHeaderCellDef>Run Id</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.run_id}}">{{element.run_id}}</span></mat-cell>
      </ng-container>


      <ng-container matColumnDef="criteria_name">
        <mat-header-cell *matHeaderCellDef>Criteria Name</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.criteria_name}}">{{element.criteria_name}}</span></mat-cell>
      </ng-container>


      <ng-container matColumnDef="criteria_description">
        <mat-header-cell *matHeaderCellDef>Criteria Description</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.criteria_description}}">{{element.criteria_description}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.status}}">{{element.status}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="template_names">
        <mat-header-cell *matHeaderCellDef>Template Name(s)</mat-header-cell>
        <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <span
            matTooltip="{{getFirstTestTemplateName(element.template_names)}}">{{getFirstTestTemplateName(element.template_names)}}&nbsp;</span>
          <span [matTooltip]="'All Template Names: '+getOtherTestTemplateNames(element.template_names)"
                [matTooltipPosition]="'above'"
                [matTooltipHideDelay]="2000"
                #tooltip1="matTooltip"></span>
          <button *ngIf="element.template_names.length>1"
                  class="other_templates" type="button"
                  mat-icon-button (click)="tooltip1.show()">
            {{element.template_names.length}}
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="exe_requested_datetime">
        <mat-header-cell *matHeaderCellDef>Execution Requested Date/Time</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.exe_requested_datetime}}">{{element.exe_requested_datetime}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="exe_end_datetime">
        <mat-header-cell *matHeaderCellDef>Execution End Date/Time</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.exe_end_datetime}}">{{element.exe_end_datetime}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rpt_aggrn_status">
        <mat-header-cell *matHeaderCellDef>Data Aggregation Status</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.rpt_aggrn_status}}">{{element.rpt_aggrn_status}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngIf="element.status && (element.status==='EXECUTED' || element.status==='INPROGRESS')">
            <button mat-icon-button (click)="viewCountSummary(element)"
                    matTooltip="View Count Summary">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button (click)="viewAccountSummary(element)"
                    matTooltip="View Account Summary">
              <mat-icon>account_balance</mat-icon>
            </button>
          </div>
          <div *ngIf="element.rpt_aggrn_status && (element.rpt_aggrn_status==='EXECUTED')">
            <button mat-icon-button (click)="viewLegSummary(element)"
                    matTooltip="View Leg Summary">
              <mat-icon>airline_seat_legroom_normal</mat-icon>
            </button>
            <button mat-icon-button (click)="viewTransactionSummary(element)"
                    matTooltip="View Transaction Summary">
              <mat-icon>credit_card</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchBulkExecution($event)">
  </mat-paginator>
</mat-card>
