<div class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="list" *ngIf="dataSource">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2>Leg Data</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="list-wrapper">
    <div class="list-table">
      <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Instruction Identifier</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.id}}">{{element.id}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="message_identifier">
          <mat-header-cell *matHeaderCellDef>Message Identifier</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.message_identifier}}">{{element.message_identifier}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="leg_name">
          <mat-header-cell *matHeaderCellDef>Leg Name</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.leg_name}}">{{element.leg_name}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="connection_id">
          <mat-header-cell *matHeaderCellDef>Connection Id</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.connection_id}}">{{element.connection_id}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="msg_set_version">
          <mat-header-cell *matHeaderCellDef>Message Set Version</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.msg_set_version}}">{{element.msg_set_version}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="send_receive_tmstmp">
          <mat-header-cell *matHeaderCellDef>Send Or Receive Date/Time</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.send_receive_tmstmp}}">{{element.send_receive_tmstmp}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="leg_xml_data">
          <mat-header-cell *matHeaderCellDef>Leg Message</mat-header-cell>
          <mat-cell *matCellDef="let element"><span>{{element.leg_xml_data}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="viewXmlData(element)"
                    matTooltip="View XML">
              <mat-icon>code</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [length]="paginatorOptions.count"
                   [pageSize]="paginatorOptions.pageSize"
                   [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                   [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                   (page)="fetchNonPaymentLegListing($event)">
    </mat-paginator>
  </div>
</div>
