<div class="page"></div>
<mat-card class="form-container">
  <form [formGroup]="connectionForm" (ngSubmit)="submitConnectionForm()" novalidate autocomplete="off">
    <div class="field full-width"
         fxLayout="row"
         fxLayoutGap="20px"
         fxLayoutAlign="space-between start">
      <div>
        <mat-slide-toggle color="primary" formControlName="initial_available">Is Available?</mat-slide-toggle>
        <tooltip position="above" [text]="helpText?.initial_available"></tooltip>
      </div>
      <div>
        <mat-slide-toggle formControlName="is_deactive">Is Deactive?</mat-slide-toggle>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Connection Id"
               formControlName="id"
               [readonly]="IS_EDIT">
        <mat-error *ngIf="id.invalid">{{getErrorMessage('id')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Select Owner Id"
               aria-label="Select Owner Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoOwnerId"
               formControlName="owner_id">
        <mat-autocomplete #autoOwnerId="matAutocomplete" [displayWith]="connectionOwnerDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let connectionOwner of filteredConnectionOwners | async" [value]="connectionOwner">
            <p *ngIf="connectionOwner" class="font-size-14 text-truncate">{{connectionOwner.id }} -
              {{connectionOwner.name }}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="owner_id.invalid">{{getErrorMessage('owner_id')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Message Set Version"
               formControlName="msg_set_version">
        <mat-error *ngIf="msg_set_version.invalid">{{getErrorMessage('msg_set_version')}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" class="mb-20" fxLayoutAlign="space-between start">
      <div>
        <mat-slide-toggle color="primary" formControlName="validate_signature">Validate Signature</mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row" class="mb-20" fxLayoutAlign="space-between start">
      <div>
        <mat-slide-toggle color="primary" formControlName="echo_enabled">Echo Enabled</mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row" class="mb-20" fxLayoutAlign="space-between start">
      <div>
        <mat-slide-toggle color="primary" formControlName="echo_conn_status_update">Echo Status Update
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Mark Unavailable Duration"
               formControlName="echo_conn_unavailable_mark_duration">
        <mat-error
          *ngIf="echo_conn_unavailable_mark_duration.invalid">{{getErrorMessage('echo_conn_unavailable_mark_duration')}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Echo Interval"
               formControlName="echo_interval">
        <mat-error *ngIf="echo_interval.invalid">{{getErrorMessage('echo_interval')}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="field">
        <input matInput
               [min]="minDate"
               [matDatepicker]="picker"
               placeholder="Effective Date"
               formControlName="effective_date"
               [readonly]="effectiveDateDisabled">
        <mat-datepicker-toggle matSuffix [for]="picker" *ngIf="!effectiveDateDisabled"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="effective_date.invalid">{{getErrorMessage('effective_date')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.effective_date" position="above"></tooltip>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
    </div>
  </form>
</mat-card>
