<div *ngIf="settlementSummary" class="form-container">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2>Settlement Summary Details</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap.gt-xs="10px"
         fxLayoutAlign.gt-xs="strech start">
      <div fxFlex="20">
        <div *ngIf="settlementSummary.id" class="info-line">
          <label class="caption_view">Settlement Id</label>
          <div class="info">{{settlementSummary.id}}</div>
        </div>
        <div *ngIf="settlementSummary.cycle_start_dttm" class="info-line">
          <label class="caption_view">Cycle Start Date/Time</label>
          <div class="info">{{settlementSummary.cycle_start_dttm}}</div>
        </div>
        <div *ngIf="settlementSummary.cycle_end_dttm" class="info-line">
          <label class="caption_view">Cycle End Date/Time</label>
          <div class="info">{{settlementSummary.cycle_end_dttm}}</div>
        </div>
      </div>

      <div fxFlex="20">
        <div *ngIf="settlementSummary.account_id" class="info-line">
          <label class="caption_view">Account Id</label>
          <div class="info">{{settlementSummary.account_id}}</div>
        </div>
        <div *ngIf="settlementSummary.account_type" class="info-line">
          <label class="caption_view">Account Type</label>
          <div class="info">{{settlementSummary.account_type}}</div>
        </div>
        <div *ngIf="settlementSummary.participant_id" class="info-line">
          <label class="caption_view">Participant Id</label>
          <div class="info">{{settlementSummary.participant_id}}</div>
        </div>
        <div *ngIf="settlementSummary.tracking_account_id" class="info-line">
          <label class="caption_view">Tracking Account Id</label>
          <div class="info">{{settlementSummary.tracking_account_id}}</div>
        </div>
      </div>

      <div fxFlex="20">
        <div *ngIf="settlementSummary.initial_cap" class="info-line">
          <label class="caption_view">Initial Cap</label>
          <div class="info">{{settlementSummary.initial_cap|currency:' '}}</div>
        </div>
        <div *ngIf="settlementSummary.aval_balance" class="info-line">
          <label class="caption_view">Available Balance</label>
          <div class="info">{{settlementSummary.aval_balance|currency:' '}}</div>
        </div>
        <div *ngIf="settlementSummary.account_position" class="info-line">
          <label class="caption_view">Account Position</label>
          <div class="info">{{settlementSummary.account_position|currency:' '}}</div>
        </div>
      </div>

      <div fxFlex="20">
        <div *ngIf="settlementSummary.outward_accepted_count" class="info-line">
          <label class="caption_view">Outward Accepted Count</label>
          <div class="info">{{settlementSummary.outward_accepted_count}}</div>
        </div>
        <div *ngIf="settlementSummary.outward_accepted_value" class="info-line">
          <label class="caption_view">Outward Accepted Value</label>
          <div class="info">{{settlementSummary.outward_accepted_value|currency:' '}}</div>
        </div>
        <div *ngIf="settlementSummary.outward_rejected_count" class="info-line">
          <label class="caption_view">Outward Rejected Count</label>
          <div class="info">{{settlementSummary.outward_rejected_count}}</div>
        </div>
        <div *ngIf="settlementSummary.outward_rejected_value" class="info-line">
          <label class="caption_view">Outward Rejected Value</label>
          <div class="info">{{settlementSummary.outward_rejected_value|currency:' '}}</div>
        </div>
      </div>

      <div fxFlex="20">
        <div *ngIf="settlementSummary.inward_accepted_count" class="info-line">
          <label class="caption_view">Inward Accepted Count</label>
          <div class="info">{{settlementSummary.inward_accepted_count}}</div>
        </div>
        <div *ngIf="settlementSummary.inward_accepted_value" class="info-line">
          <label class="caption_view">Inward Accepted Value</label>
          <div class="info">{{settlementSummary.inward_accepted_value|currency:' '}}</div>
        </div>
        <div *ngIf="settlementSummary.inward_rejected_count" class="info-line">
          <label class="caption_view">Inward Rejected Count</label>
          <div class="info">{{settlementSummary.inward_rejected_count}}</div>
        </div>
        <div *ngIf="settlementSummary.inward_rejected_value" class="info-line">
          <label class="caption_view">Inward Rejected Value</label>
          <div class="info">{{settlementSummary.inward_rejected_value|currency:' '}}</div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div fxLayout="column"
       fxLayoutAlign="start start"
       fxLayout.gt-xs="row"
       fxLayoutGap.gt-xs="20px"
       fxLayoutAlign.gt-xs="strech start"
       *ngIf="settlementSummary._id">
    <settlement-summary-credit-detail-list fxFlex.gt-xs="50"
                                           [id]="settlementSummary._id"
                                           [settlementSummary]="settlementSummary">
    </settlement-summary-credit-detail-list>
    <settlement-summary-debit-detail-list fxFlex.gt-xs="50"
                                          [id]="settlementSummary._id"
                                          [settlementSummary]="settlementSummary">
    </settlement-summary-debit-detail-list>
  </div>

</div>
