<div class="login-component-content">
  <div class="form-content border-radius-primary box-shadow-primary" *appIfOnDom [@animateStagger]="{value:'50'}"
       [@animate]="{value:'*',params:{y:'100%'}}">
    <form [formGroup]="signinForm" (ngSubmit)="submitSigninForm()" novalidate>
      <div class="text-center">
        <img width="150" src="../../../../../assets/images/logo.png">
      </div>
      <h2 class="text-left primary-color">LOGIN</h2>
      <div class="input-wrapper">
        <mat-form-field>
          <span matPrefix><mat-icon>person</mat-icon>&nbsp;&nbsp;</span>
          <input type="text" matInput placeholder="Email" formControlName="email" autocomplete="off">
          <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <span matPrefix><mat-icon matPrefix>lock</mat-icon>&nbsp;&nbsp;</span>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="button-wrapper">
        <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SIGN IN</button>
        <div class="flex-spacer"></div>
        <button type="button" mat-button color="primary" (click)="resetPassword()" [disabled]="inProgress">Forgot
          Password?
        </button>
      </div>
    </form>
  </div>
</div>
