.mat-column-criteria_name {
  min-width: 150px;
}

.mat-column-createdAt {
  min-width: 300px;
}

.mat-column-exec_status {
  max-width: 150px;
}

.mat-column-template_names {
  max-width: 200px;
}

.other_templates {
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-right: 30px;
}
