<div *ngIf="certCriteria" class="form-container">
  <div fxLayoutAlign="end end">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div fxLayout="column"
       fxLayoutAlign="start start"
       fxLayout.gt-xs="row"
       fxLayoutGap.gt-xs="100px"
       fxLayoutAlign.gt-xs="strech start">
    <div fxFlex="50">
      <div *ngIf="certCriteria.criteria_name" class="info-line">
        <label class="caption_view">Criteria Name</label>
        <div class="info">{{certCriteria.criteria_name}}</div>
      </div>
      <div *ngIf="certCriteria.criteria_type" class="info-line">
        <label class="caption_view">Criteria Type</label>
        <div class="info">{{certCriteria.criteria_type}}</div>
      </div>
    </div>

    <div fxFlex="50">
      <div *ngIf="certCriteria.participant_id" class="info-line">
        <label class="caption_view">Participant Id</label>
        <div class="info">{{certCriteria.participant_id}}</div>
      </div>
      <div *ngIf="certCriteria.participant.name" class="info-line">
        <label class="caption_view">Participant Name</label>
        <div class="info">{{certCriteria.participant.name}}</div>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="certCriteria.criteria_description" class="info-line">
      <label class="caption_view">Criteria Description</label>
      <div class="info">{{certCriteria.criteria_description}}</div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div *ngIf="!dataSource">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
        <h1>No Execution History Available</h1>
      </div>
      <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
        <h2>Loading...</h2>
      </div>
    </div>
  </div>
  <div class="list" *ngIf="dataSource">
    <div flexLayout="row" fxLayoutAlign="space-between start">
      <h2>Certification Criteria Execution History</h2>
    </div>
    <div class="list-wrapper">
      <div class="list-table">
        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

          <ng-container matColumnDef="createdAt">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Execution Request Date Time</mat-header-cell>
            <mat-cell *matCellDef="let element"><span matTooltip="{{element.createdAt}}">{{element.createdAt}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="template_names">
            <mat-header-cell *matHeaderCellDef>Test Template Name(s)</mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
              <span
                matTooltip="{{getFirstTestTemplateName(element.template_names)}}">{{getFirstTestTemplateName(element.template_names)}}&nbsp;</span>
              <span [matTooltip]="'All Test Template Names: '+getOtherTestTemplateNames(element.template_names)"
                    [matTooltipPosition]="'above'"
                    [matTooltipHideDelay]="2000"
                    #tooltip1="matTooltip"></span>
              <button *ngIf="element.template_names.length>1"
                      class="other_templates" type="button"
                      mat-icon-button (click)="tooltip1.show()">
                {{element.template_names.length}}
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="exec_status">
            <mat-header-cell *matHeaderCellDef>Execution Status</mat-header-cell>
            <mat-cell *matCellDef="let element"><span
              matTooltip="{{element.exec_status}}">{{element.exec_status}}</span></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <mat-paginator #paginator
                     [length]="paginatorOptions.count"
                     [pageSize]="paginatorOptions.pageSize"
                     [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                     [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                     (page)="fetchExecutionHistory($event)">
      </mat-paginator>
    </div>
  </div>
</div>

