<div class="list" *ngIf="!nonPaymentTransaction">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div *ngIf="nonPaymentTransaction" class="form-container">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2>Transaction Details</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap.gt-xs="10px"
         fxLayoutAlign.gt-xs="strech start">
      <div fxFlex="50">
        <div *ngIf="nonPaymentTransaction.id" class="info-line">
          <label class="caption_view">Instruction Identifier</label>
          <div class="info">{{nonPaymentTransaction.id}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.transaction_type" class="info-line">
          <label class="caption_view">Transaction Type</label>
          <div class="info">{{nonPaymentTransaction.transaction_type}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.creation_tmstmp" class="info-line">
          <label class="caption_view">Transaction Creation Date/Time</label>
          <div class="info">{{nonPaymentTransaction.creation_tmstmp}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.creditor_participant_id" class="info-line">
          <label class="caption_view">Creditor Participant Id</label>
          <div class="info">{{nonPaymentTransaction.creditor_participant_id}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.debtor_participant_id" class="info-line">
          <label class="caption_view">Debtor Participant Id</label>
          <div class="info">{{nonPaymentTransaction.debtor_participant_id}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.creditor_routing_id" class="info-line">
          <label class="caption_view">Creditor Sortcode/Routing Number</label>
          <div class="info">{{nonPaymentTransaction.creditor_routing_id}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.creditor_account_id" class="info-line">
          <label class="caption_view">Creditor Account Number</label>
          <div class="info">{{nonPaymentTransaction.creditor_account_id}}</div>
        </div>
      </div>

      <div fxFlex="50">
        <div *ngIf="nonPaymentTransaction.debtor_routing_id" class="info-line">
          <label class="caption_view">Debtor Sortcode/Routing Number</label>
          <div class="info">{{nonPaymentTransaction.debtor_routing_id}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.debtor_account_id" class="info-line">
          <label class="caption_view">Debtor Account Number</label>
          <div class="info">{{nonPaymentTransaction.debtor_account_id}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.amount" class="info-line">
          <label class="caption_view">Amount</label>
          <div class="info">{{nonPaymentTransaction.amount}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.amount_currency" class="info-line">
          <label class="caption_view">Currency</label>
          <div class="info">{{nonPaymentTransaction.amount_currency}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.accept_reject_code" class="info-line">
          <label class="caption_view">Status</label>
          <div class="info">{{nonPaymentTransaction.accept_reject_code}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.reason_code" class="info-line">
          <label class="caption_view">Reason Code</label>
          <div class="info">{{nonPaymentTransaction.reason_code}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.end_to_end_reference" class="info-line">
          <label class="caption_view">end_to_end_reference</label>
          <div class="info">{{nonPaymentTransaction.end_to_end_reference}}</div>
        </div>
        <div *ngIf="nonPaymentTransaction.transaction_id" class="info-line">
          <label class="caption_view">transaction_id</label>
          <div class="info">{{nonPaymentTransaction.transaction_id}}</div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div *ngIf="hasPermissionToViewMessageLegs" class="viewField" fxLayoutAlign="end">
    <button color="primary" mat-fab (click)="viewMessageLegDetail()" matTooltip="View Message Legs">
      <mat-icon>airline_seat_legroom_extra</mat-icon>
    </button>
  </div>
</div>
