@mixin component-forgot-password-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  forgot-password {
    background-color: mat-color($primary, 50);
  }
}
