<div class="forgot-password-component-content">
  <div class="form-content border-radius-primary box-shadow-primary" *appIfOnDom [@animateStagger]="{value:'50'}"
       [@animate]="{value:'*',params:{y:'100%'}}">
    <div class="text-center">
      <img width="150" src="../../../../../assets/images/logo.png">
    </div>
    <form *ngIf="!reset" [formGroup]="forgotPassForm" (ngSubmit)="submitForgotPassForm()" novalidate autocomplete="off">
      <h2 class="text-left primary-color">Reset Password</h2>
      <div class="input-wrapper">
        <mat-form-field>
          <span matPrefix><mat-icon>person</mat-icon>&nbsp;&nbsp;</span>
          <input type="text" matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="button-wrapper">
        <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">Send Reset Password Link
        </button>
        <div class="flex-spacer"></div>
        <button type="button" mat-button (click)="cancel()" [disabled]="inProgress">Cancel</button>
      </div>
    </form>
    <div *ngIf="reset">
      <p class="text-center primary-color">We have sent you an email containing a link to reset your password.</p>
      <div class="button-wrapper">
        <button type="button" mat-raised-button color="primary" (click)="resendLink()" [disabled]="inProgress">Resend
        </button>
        <div class="flex-spacer"></div>
        <button type="button" mat-button (click)="cancel()" [disabled]="inProgress">Cancel</button>
      </div>
    </div>
  </div>
</div>
