@import '../../../../../styles/constants';

.forgot-password-component-content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .form-content {
    box-sizing: content-box;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    width: 360px;
    @media (max-width: $small-breakpoint-width) {
      width: 80% !important;
    }

    .input-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-bottom: 10px;
      input {
        width: 100%;
      }
    }

    .button-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 20px;
    }
  }

  .border-radius-primary {
    border-radius: 4px;
  }
}
