<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="template_name">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Test Template Name" searchKey="template_name" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.template_name}}">{{element.template_name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="template_type">
        <mat-header-cell *matHeaderCellDef>Test Template Type</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.template_type}}">{{element.template_type}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="participant_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Participant Id" searchKey="participant_id" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.participant_id}}">{{element.participant_id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="testcase_name">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Test Case Name" searchKey="testcase_name" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.testcase_name}}">{{element.testcase_name}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="initiating_msg_type">
        <mat-header-cell *matHeaderCellDef>Initiating Message Type</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.initiating_msg_type}}">{{element.initiating_msg_type}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-icon-button [routerLink]="['view/'+element._id]" matTooltip="View/Edit">
            <mat-icon>remove_red_eye</mat-icon>
          </a>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchTestTemplateListing($event)">
  </mat-paginator>
</mat-card>
