.mat-column-actions {
  max-width: 100px;
}

.mat-column-template_name {
  min-width: 150px;
}

.mat-column-template_type {
  min-width: 100px;
}

.mat-column-participant_id {
  min-width: 200px;
}

.mat-column-testcase_name {
  min-width: 200px;
}

.mat-column-initiating_msg_type {
  min-width: 200px;
}
