.mat-column-actions {
  max-width: 100px;
}

.mat-column-instruction_id {
  min-width: 300px;
}

.mat-column-initiating_msg_type {
  min-width: 100px;
}

.mat-column-msg_rcvd_dttm {
  min-width: 275px;
}

.mat-column-status {
  min-width: 100px;
}

.mat-column-status_update_dttm {
  min-width: 275px;
}
