<div *ngIf="certCriteriaRepOut" class="form-container">
  <div fxLayout="row"
       fxLayoutAlign="space-between start">
    <h2>Run Details</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div fxLayout="column"
       fxLayoutAlign="start start"
       fxLayout.gt-xs="row"
       fxLayoutGap.gt-xs="10px"
       fxLayoutAlign.gt-xs="strech start">

    <div fxFlex="33">
      <div *ngIf="certCriteriaRepOut.participant_id" class="info-line">
        <label class="caption_view">Participant Id</label>
        <div class="info">{{certCriteriaRepOut.participant_id}}</div>
      </div>
      <div *ngIf="template.template_name" class="info-line">
        <label class="caption_view">Test Template Name</label>
        <div class="info">{{template.template_name}}</div>
      </div>
      <div *ngIf="template.testcase_name" class="info-line">
        <label class="caption_view">Test Case Name</label>
        <div class="info">{{template.testcase_name}}</div>
      </div>
    </div>

    <div fxFlex="33">
      <div *ngIf="certCriteriaRepOut.criteria_name" class="info-line">
        <label class="caption_view">Criteria Name</label>
        <div class="info">{{certCriteriaRepOut.criteria_name}}</div>
      </div>
      <div *ngIf="certCriteriaRepOut.certCriteria.criteria_type" class="info-line">
        <label class="caption_view">Criteria Type</label>
        <div class="info">{{certCriteriaRepOut.certCriteria.criteria_type}}</div>
      </div>
      <div *ngIf="template.template_status" class="info-line">
        <label class="caption_view">Template Status</label>
        <div class="info">{{template.template_status}}</div>
      </div>
    </div>

    <div fxFlex="33">
      <div *ngIf="template.status_update_dttm" class="info-line">
        <label class="caption_view">Last Status Update</label>
        <div class="info">{{template.status_update_dttm}}</div>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="template.testcase_description" class="info-line">
      <label class="caption_view">Test Case Description</label>
      <div class="info">{{template.testcase_description}}</div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div *ngIf="!dataSource">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
        <h1>No Details Available</h1>
      </div>
      <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
        <h2>Loading...</h2>
      </div>
    </div>
  </div>
  <div class="list-wrapper" *ngIf="dataSource">
    <div class="list-table">
      <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="instruction_id">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Instruction Identifier</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.instruction_id}}">{{element.instruction_id}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="initiating_msg_type">
          <mat-header-cell *matHeaderCellDef>Message Type</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.initiating_msg_type}}">{{element.initiating_msg_type}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="msg_rcvd_dttm">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Message Received</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.msg_rcvd_dttm}}">{{element.msg_rcvd_dttm}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Run Status</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.status}}">{{element.status}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="status_update_dttm">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Last Status Update</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.status_update_dttm}}">{{element.status_update_dttm}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <button mat-icon-button (click)="validationDetails(element)" matTooltip="Validation Details">
              <mat-icon>assignment_late</mat-icon>
            </button>
            <button mat-icon-button (click)="viewPaymentTransactions(element)" matTooltip="View Transactions">
              <mat-icon>credit_card</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [length]="paginatorOptions.count"
                   [pageSize]="paginatorOptions.pageSize"
                   [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                   [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                   (page)="fetchCertCriteriaRepDtlOut($event)">
    </mat-paginator>
  </div>
</div>

