<div class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="addField" fxLayoutAlign="end">
  <button color="primary" mat-mini-fab (click)="addDetail()" matTooltip="Add new Timeout Offset">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="list" *ngIf="dataSource">
  <div class="list-wrapper">
    <div class="list-table">
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="msg_type">
          <mat-header-cell *matHeaderCellDef>Message Type</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.msg_type}}">{{element.msg_type}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="timeout_offset">
          <mat-header-cell *matHeaderCellDef>Timeout Offset</mat-header-cell>
          <mat-cell *matCellDef="let element"><span
            matTooltip="{{element.timeout_offset}}">{{element.timeout_offset}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <button mat-icon-button (click)="editDetail(element)" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteDetail(element)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [length]="paginatorOptions.count"
                   [pageSize]="paginatorOptions.pageSize"
                   [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                   [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                   (page)="fetchParticipantMsgInfoListing($event)">
    </mat-paginator>
  </div>
</div>
