.list {
  width: 100%;
}

.mat-column-actions {
  max-width: 100px;
}

.mat-column-msg_type {
  min-width: 100px;
}

.mat-column-timeout_offset {
  min-width: 100px;
}

.addField {
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}
