<div class="page"></div>
<mat-card class="list" *ngIf="!certCriteriaRepOut">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card *ngIf="certCriteriaRepOut" class="form-container">
  <div class="header">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap.gt-xs="10px"
         fxLayoutAlign.gt-xs="strech start">
      <div fxFlex="33">
        <div *ngIf="certCriteriaRepOut.criteria_name" class="info-line">
          <label class="caption_view">Criteria Name</label>
          <div class="info">{{certCriteriaRepOut.criteria_name}}</div>
        </div>
        <div *ngIf="certCriteriaRepOut.certCriteria && certCriteriaRepOut.certCriteria.criteria_type" class="info-line">
          <label class="caption_view">Criteria Type</label>
          <div class="info">{{certCriteriaRepOut.certCriteria.criteria_type}}</div>
        </div>
      </div>

      <div fxFlex="33">
        <div *ngIf="certCriteriaRepOut.participant_id" class="info-line">
          <label class="caption_view">Criteria Status</label>
          <div class="info">{{certCriteriaRepOut.criteria_status}}</div>
        </div>
        <div *ngIf="certCriteriaRepOut.participant.name" class="info-line">
          <label class="caption_view">Last Status Update</label>
          <div class="info">{{certCriteriaRepOut.last_update_dttm}}</div>
        </div>
      </div>

      <div fxFlex="33">
        <div *ngIf="certCriteriaRepOut.participant_id" class="info-line">
          <label class="caption_view">Participant Id</label>
          <div class="info">{{certCriteriaRepOut.participant_id}}</div>
        </div>
        <div *ngIf="certCriteriaRepOut.participant.name" class="info-line">
          <label class="caption_view">Participant Name</label>
          <div class="info">{{certCriteriaRepOut.participant.name}}</div>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="certCriteriaRepOut.certCriteria && certCriteriaRepOut.certCriteria.criteria_description"
           class="info-line">
        <label class="caption_view">Criteria Description</label>
        <div class="info">{{certCriteriaRepOut.certCriteria.criteria_description}}</div>
      </div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div *ngIf="certCriteriaRepOutId">
    <certification-criteria-rep-out-detail-list [id]="certCriteriaRepOutId" [certCriteriaRepOut]="certCriteriaRepOut">
    </certification-criteria-rep-out-detail-list>
  </div>

</mat-card>
