@import './theme';
@import '../src/styles/general';
@import '../src/styles/typography';
@import '../src/styles/scrollbars';
@import '../src/styles/forms';
@import "~ng-pick-datetime/assets/style/picker.min.css";

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

app-root > app-sidenav {
  flex: 1;
}

app-sidenav,
login,
forgot-password,
change-password,
reset-password,
unlock,
activate {
  height: 100%;
}

app-root > activate,
app-root > unlock,
app-root > login,
app-root > forgot-password,
app-root > change-password,
app-root > reset-password {
  overflow-y: auto;
}

@media (max-width: 720px) {
  app-root {
    top: 0;
  }

  app-root > activate,
  app-root > unlock,
  app-root > login,
  app-root > change-password,
  app-root > forgot-password,
  app-root > reset-password {
    overflow-y: visible;
  }
}
