@import '~@angular/material/theming';
@import './app/shared/components/navbar/navbar-theme';
@import 'app/shared/components/sidenav/sidenav-theme';
@import './app/shared/components/page-footer/page-footer-theme';
@import './app/shared/components/page-header/page-header.theme';
@import './app/shared/components/tooltip/tooltip-theme';
@import './app/modules/account/components/login/login.theme';
@import './app/modules/account/components/reset-password/reset-password.theme';
@import './app/modules/account/components/forgot-password/forgot-password.theme';
@import './app/modules/account/components/activate/activate-component.theme';
@import './app/modules/account/components/change-password/change-password.theme';
@import './app/modules/participant-management/participant/components/participant-list/participant-list.theme';
@import './app/modules/test-case-management/test-template/components/test-template-view/test-template-view.theme';
@import './app/modules/certificate-criteria-management/certification-criteria/components/certification-criteria-list/certification-criteria-list.theme';
@import './app/modules/view-payment-transaction/payment-transaction/components/search-form/search-form.theme';
@import './app/modules/settlement-summary-management/credit-debit-settlement-account/components/search-form/search-form.theme';
@import './app/modules/settlement-summary-management/snapshot-settlement-position/components/search-form/search-form.theme';
@import './app/modules/settlement-summary-management/view-settlement-snapshot/components/search-form/search-form.theme';
@import './app/modules/settlement-summary-management/settlement-summary/components/search-form/search-form.theme';
@import './app/modules/view-payment-transaction/sen-message/components/search-form/search-form.theme';
@import './app/modules/view-payment-transaction/admin-message/components/search-form/search-form.theme';
@import './app/modules/view-report/bulk-criteria-report/components/search-form/search-form.theme';
@import './app/modules/view-report/bulk-criteria-report/components/tps-graph/tph-graph-component.theme';
@import './styles/svg-theme';

@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $nav-background-opacity: if($is-dark-theme, 0.2, 0.03);

  .comp-app-background {
    background: rgba(0, 0, 0, $nav-background-opacity);
  }

  input[readonly] {
    color: mat-color($foreground, disabled-text);
  }

  .non-readonly {
    color: mat-color($foreground, text) !important;
  }

  .comp-primary-header {
    h1 {
      color: mat-color($primary);
    }
  }

  .component-page-header {
    background: mat-color($background, background);
  }

  .primary-color {
    color: mat-color($foreground, text);
  }

  .accent-color {
    color: mat-color($accent);
  }

  .warn-color {
    color: mat-color($warn);
  }

  .comp-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .caption_view {
    color: $dark-secondary-text !important;
  }

  @include component-page-header-theme($theme);
  @include component-viewer-sidenav-theme($theme);
  @include comp-site-svg-theme($theme);
  @include nav-bar-theme($theme);
  @include page-footer-theme($theme);
  @include tooltip-theme($theme);
  @include component-login-theme($theme);
  @include component-reset-password-theme($theme);
  @include component-change-password-theme($theme);
  @include component-forgot-password-theme($theme);
  @include component-activate-theme($theme);
  @include component-participant-list-theme($theme);
  @include component-test-template-view-theme($theme);
  @include component-certification-criteria-list-theme($theme);
  @include search-form-theme($theme);
  @include c-search-form-theme($theme);
  @include s-search-form-theme($theme);
  @include se-search-form-theme($theme);
  @include ss-search-form-theme($theme);
  @include sen-search-form-theme($theme);
  @include admin-search-form-theme($theme);
  @include bulk-search-form-theme($theme);
  @include component-tph-graph-theme($theme);
}

@include mat-core();

/*App theme is defined here*/
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-red, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include app-theme($theme);
