<app-progress-bar></app-progress-bar>
<div id="error-500" fxLayout="column" fxLayoutAlign="center center" fxFlex *appIfOnDom
     [@animate]="{value:'*',params:{delay:'100ms'}}">
  <div class="form-content border-radius-primary box-shadow-primary"
       fxFlex="0 0 auto" fxLayout="column wrap" fxLayoutAlign="center center"
       [@animateStagger]="{value:'50'}"
       [@animate]="{value:'*',params:{y:'100%'}}">

    <form
      [formGroup]="changePassForm"
      (ngSubmit)="submitChangePassForm()"
      novalidate>
      <div class="text-center">
        <img width="150" src="../../../../../assets/images/logo.png">
      </div>
      <h2 class="text-left primary-color">Change Password</h2>
      <div class="input-wrapper">
        <mat-form-field>
          <span matPrefix><mat-icon matPrefix>lock</mat-icon>&nbsp;&nbsp;</span>
          <input type="password" matInput placeholder="Old Password" formControlName="oldPassword">
          <mat-error *ngIf="oldPassword.invalid">{{getErrorMessage('oldPassword')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input-wrapper">
        <mat-form-field>
          <span matPrefix><mat-icon matPrefix>lock</mat-icon>&nbsp;&nbsp;</span>
          <input type="password" matInput placeholder="New Password" formControlName="password">
          <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input-wrapper">
        <mat-form-field>
          <span matPrefix><mat-icon matPrefix>lock</mat-icon>&nbsp;&nbsp;</span>
          <input matInput placeholder="Confirm New password" type="password" formControlName="confirmPassword">
          <mat-error *ngIf="confirmPassword.invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="button-wrapper">
        <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">Change Password</button>
        <div class="flex-spacer"></div>
        <a type="button" mat-button routerLink="/" [disabled]="inProgress">Cancel</a>
      </div>
    </form>

  </div>

</div>
