<div class="list" *ngIf="!bulkExecutionData">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Leg Summary Available</h1>
      <a class="back-link" [routerLink]="'/'">Go back to dashboard</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div *ngIf="bulkExecutionData" class="form-container">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2>View Leg Summary</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap.gt-xs="10px"
         fxLayoutAlign.gt-xs="strech start">
      <div fxFlex="50">
        <div *ngIf="bulkExecutionData.run_id" class="info-line">
          <label class="caption_view">Run Id</label>
          <div class="info">{{bulkExecutionData.run_id}}</div>
        </div>
        <div *ngIf="bulkExecutionData.criteria_name" class="info-line">
          <label class="caption_view">Criteria Name</label>
          <div class="info">{{bulkExecutionData.criteria_name}}</div>
        </div>
        <div *ngIf="bulkExecutionData.status" class="info-line">
          <label class="caption_view">Status</label>
          <div class="info">{{bulkExecutionData.status}}</div>
        </div>
      </div>

      <div fxFlex="50">
        <div *ngIf="bulkExecutionData.exe_requested_datetime" class="info-line">
          <label class="caption_view">Execution Requested Date/Time</label>
          <div class="info">{{bulkExecutionData.exe_requested_datetime}}</div>
        </div>
        <div *ngIf="bulkExecutionData.exe_end_datetime" class="info-line">
          <label class="caption_view">Execution End Date/Time</label>
          <div class="info">{{bulkExecutionData.exe_end_datetime}}</div>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="bulkExecutionData.criteria_description" class="info-line">
        <label class="caption_view">Criteria Description</label>
        <div class="info">{{bulkExecutionData.criteria_description}}</div>
      </div>
    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>
  <div *ngIf="bulkExecutionData && bulkExecutionData.run_id">
    <bulk-perf-summary-list [bulkExecutionData]="bulkExecutionData"></bulk-perf-summary-list>
  </div>
</div>
