<div class="page"></div>
<mat-card class="form-container">
  <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()" novalidate autocomplete="off">
    <div class="field full-width"
         fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap="20px"
         fxLayoutAlign.gt-xs="space-between start">
      <div>
        <mat-slide-toggle formControlName="is_deactive">Is Deactive?</mat-slide-toggle>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Email Id"
               formControlName="id"
               [readonly]="IS_EDIT">
        <mat-error *ngIf="id.invalid">{{getErrorMessage('id')}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-sm="row"
         fxLayoutGap.gt-sm="20px"
         fxLayoutAlign.gt-sm="space-between start">
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="First Name"
               formControlName="firstName">
        <mat-error *ngIf="firstName.invalid">{{getErrorMessage('firstName')}}</mat-error>
      </mat-form-field>
      <mat-form-field class="field full-width">
        <input type="text"
               matInput
               placeholder="Last Name"
               formControlName="lastName">
        <mat-error *ngIf="lastName.invalid">{{getErrorMessage('lastName')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Select Contact Profile Id"
               aria-label="Select Contact Profile Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoContactProfile"
               formControlName="contactProfile_id"
               [readonly]="IS_PARTICIPANT_CONTACT">
        <mat-autocomplete #autoContactProfile="matAutocomplete" [displayWith]="contactProfileDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let contactProfile of filteredContactProfiles | async" [value]="contactProfile">
            <p *ngIf="contactProfile" class="font-size-14 text-truncate">{{contactProfile.id }} -
              {{contactProfile.description }}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="contactProfile_id.invalid">{{getErrorMessage('contactProfile_id')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.contactProfile_id" position="above"></tooltip>
    </div>

    <div *ngIf="contactForm.value.contactProfile_id && contactForm.value.contactProfile_id.id"
         class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Select Contact Role Id"
               aria-label="Select Contact Role Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoContactRole"
               formControlName="role_id">
        <mat-autocomplete #autoContactRole="matAutocomplete" [displayWith]="contactRoleDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let contactRole of filteredContactRoles | async" [value]="contactRole">
            <p *ngIf="contactRole" class="font-size-14 text-truncate">{{contactRole.id }} -
              {{contactRole.description }}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="role_id.invalid">{{getErrorMessage('role_id')}}</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="contactForm.value.contactProfile_id && contactForm.value.contactProfile_id.id=== 'participant'"
         class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Select Participant Id"
               aria-label="Select Participant Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoParticipant"
               formControlName="participant_id"
               [readonly]="IS_PARTICIPANT_CONTACT">
        <mat-autocomplete #autoParticipant="matAutocomplete" [displayWith]="participantDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let participant of filteredParticipants | async" [value]="participant">
            <p *ngIf="participant" class="font-size-14 text-truncate">{{participant.id }} -
              {{participant.name }}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="participant_id.invalid">{{getErrorMessage('participant_id')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.participant_id" position="above"></tooltip>
    </div>

    <div *ngIf="contactForm.value.contactProfile_id && contactForm.value.contactProfile_id.id === 'platform'"
         class="field full-width"
         fxLayout="row"
         fxLayoutAlign="space-between start">
      <mat-form-field class="full-width">
        <input matInput
               placeholder="Select Participant Id"
               aria-label="Select Participant Id"
               type="search"
               spellcheck="false"
               [matAutocomplete]="autoParticipant2"
               formControlName="participant_id">
        <mat-autocomplete #autoParticipant2="matAutocomplete" [displayWith]="clhPlatformDisplayFn"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let platform of filteredClhPlatforms | async" [value]="platform">
            <p *ngIf="platform" class="font-size-14 text-truncate">{{platform.id }} -
              {{platform.routing_id }}</p>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="participant_id.invalid">{{getErrorMessage('participant_id')}}</mat-error>
      </mat-form-field>
      <tooltip [text]="helpText?.participant_id" position="above"></tooltip>
    </div>

    <div fxLayout="column"
         fxLayoutAlign="start start"
         fxLayout.gt-xs="row"
         fxLayoutGap="20px"
         fxLayoutAlign.gt-xs="space-between start">
      <button type="submit" mat-raised-button color="primary" [disabled]="inProgress">SAVE</button>
      <button
        *ngIf="!submitted && !inProgress && contact && IS_EDIT && contact.is_locked && contact.is_activation_complete && !contact.is_deactive"
        type="button"
        mat-raised-button
        color="accent"
        [disabled]="inProgress"
        (click)="unlockAccount()">
        UNLOCK
      </button>
      <button
        *ngIf="!submitted && !inProgress && IS_EDIT && contact && !contact.is_activation_complete && !contact.is_locked && !contact.is_deactive"
        type="button"
        mat-raised-button
        color="accent"
        [disabled]="inProgress"
        (click)="sendActivationToken()">
        SEND ACTIVATION TOKEN
      </button>
    </div>

    <div class="mt-20" fxLayout="row" fxLayoutAlign="space-between start"
         *ngIf="!submitted && !inProgress && IS_EDIT && contact && ((contact.is_locked && contact.is_activation_complete && !contact.is_deactive)
         || (!contact.is_activation_complete && !contact.is_locked && !contact.is_deactive))">
      <span></span>
      <code>
        <label class="">Last temp token generated at {{contact.last_tmptoken_gen_date}}</label>
      </code>
    </div>
  </form>
</mat-card>
