<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row"
       fxLayoutGap="10px"
       fxLayoutAlign="space-between start"
       class="fixHeight">
    <label *ngIf="sort" mat-sort-header>{{headerName}}</label>
    <label mat-header-cell *ngIf="!sort">{{headerName}}</label>
    <button matTooltip="Search by {{headerName}}" matTooltipShowDelay="500" *ngIf="!enabledSearch" class="searchButton"
            mat-icon-button (click)="enabledSearch=true">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div *ngIf="enabledSearch">
    <form [formGroup]="searchForm" (ngSubmit)="applyFilter()" novalidate autocomplete="off">
      <div>
        <mat-form-field fxFlex.gt-md="1 1 60%">
          <input #textInput type="text" matInput placeholder="Search {{headerName}}" formControlName="searchInput"
                 (keyup)="cleared=false"/>
          <mat-error *ngIf="searchInput.invalid">{{getErrorMessage('searchInput')}}</mat-error>
          <button matTooltip="Clear search" matTooltipShowDelay="500" type="button" mat-button
                  *ngIf="searchForm.value.searchInput" matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="clearFilter()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button fxFlex matTooltip="Search" matTooltipShowDelay="500" class="searchButton" type="submit" mat-icon-button>
          <mat-icon color="primary">search</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
