.list {
  width: 100%;
}

.mat-column-actions {
  min-width: 50px;
}

.mat-column-id {
  min-width: 275px;
}

.mat-column-participant_id {
  min-width: 175px;
}

.mat-column-message_type {
  min-width: 150px;
}

.mat-column-instruction_id {
  min-width: 300px;
}

.mat-column-res_msg_id {
  min-width: 300px;
}

.mat-column-status {
  min-width: 100px;
}

.mat-column-reason_code {
  min-width: 150px;
}

.mat-column-creation_tmstmp {
  min-width: 275px;
}

.m-l-20 {
  margin-left: 20px;
}
