<div class="page"></div>
<mat-card class="list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Data Available</h1>
      <a class="back-link" [routerLink]="'/view-admin-message'">Go back to Admin Message Search Form</a>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</mat-card>
<mat-card class="list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="m-l-20">Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="viewRequestMessage(element)"
                  matTooltip="View Request Message">
            <mat-icon>code</mat-icon>
          </button>
          <button mat-icon-button (click)="viewResponseMessage(element)"
                  matTooltip="View Response Message">
            <mat-icon>code</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Message Id</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.id}}">{{element.id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creation_tmstmp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date/Time</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.creation_tmstmp}}">{{element.creation_tmstmp}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="message_type">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Message Type" searchKey="message_type" (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.message_type}}">{{element.message_type}}</span>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="instruction_id">
        <mat-header-cell *matHeaderCellDef>Instruction Id</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.instruction_id}}">{{element.instruction_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="res_msg_id">
        <mat-header-cell *matHeaderCellDef>Response Message Id</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.res_msg_id}}">{{element.res_msg_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.status}}">{{element.status}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reason_code">
        <mat-header-cell *matHeaderCellDef>Reason Code</mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.reason_code}}">{{element.reason_code}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="participant_id">
        <mat-header-cell *matHeaderCellDef>
          <search headerName="Participant Id" searchKey="participant_id"
                  (search)="applyFilter($event)"></search>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><span
          matTooltip="{{element.participant_id}}">{{element.participant_id}}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchAdminMessage($event)">
  </mat-paginator>
</mat-card>
