.mat-column-actions {
  max-width: 100px;
}

.mat-column-smt_cycle_id {
  min-width: 150px !important;
}

.mat-column-account_id {
  min-width: 150px !important;
  max-width: 150px !important;
}

.mat-column-in_out {
  min-width: 150px !important;
  max-width: 150px !important;
}

.mat-column-amount {
  min-width: 150px !important;
}

.mat-column-accept_reject_code {
  min-width: 100px !important;
  max-width: 100px !important;
}

.mat-column-reason_code {
  min-width: 120px !important;
  max-width: 120px !important;
}

.mat-column-count {
  min-width: 150px !important;
  max-width: 150px !important;
}
