<div class="modal-list" *ngIf="!dataSource">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h3>No Summary Available</h3>
    </div>
    <div *ngIf="inProgress" class="content" fxLayout="column" fxLayoutAlign="center center">
      <h2>Loading...</h2>
    </div>
  </div>
</div>
<div class="modal-list-wrapper" *ngIf="dataSource">
  <div class="list-table">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="smt_cycle_id">
        <mat-header-cell *matHeaderCellDef>Settlement Cycle Id</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.smt_cycle_id}}">{{element.smt_cycle_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="account_id">
        <mat-header-cell *matHeaderCellDef>Settlement Account Id</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.account_id}}">{{element.account_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="accept_reject_code">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.accept_reject_code}}">{{element.accept_reject_code}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reason_code">
        <mat-header-cell *matHeaderCellDef>Reason Code</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.reason_code}}">{{element.reason_code}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="in_out">
        <mat-header-cell *matHeaderCellDef>In/Out</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.in_out}}">{{element.in_out}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.count}}">{{element.count}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.amount}}">{{element.amount}}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator #paginator
                 [length]="paginatorOptions.count"
                 [pageSize]="paginatorOptions.pageSize"
                 [pageSizeOptions]="paginatorOptions.pageSizeOptions"
                 [showFirstLastButtons]="paginatorOptions.showFirstLastButtons"
                 (page)="fetchBulkCertCriteriaSmtSummaryListing($event)">
  </mat-paginator>
</div>
